body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

.icon-item {
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  display: table;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

.icon-item .ico {
  display: table-cell;
  vertical-align: middle;
}

.icon-item .img {
  display: table-cell;
  vertical-align: middle;
  -webkit-background-size: cover;
  background-size: cover;
}

.icon-item span {
  display: table-cell;
  vertical-align: middle;
}

.ico-label {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}

.ico-label > * {
  display: table-row;
  color: inherit;
  text-decoration: inherit;
}

.ico-label > *:before {
  display: table-cell;
}

.ico-label > * span {
  vertical-align: middle;
  display: table-cell;
}

.thumb > * figure {
  padding: 0;
  margin: 0;
  display: table-cell;
  width: 1em;
  height: 1em;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 1000px;
}

.bg-badge {
  position: absolute;
  font-size: 12px;
  right: 5%;
  top: 0;
  font-style: normal;
  padding: 4px;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 0 1px white;
  box-shadow: 0 0 0 1px white;
  height: 1em;
  min-width: 1em;
  line-height: 1em;
  text-align: center;
}

.avatar {
  border-radius: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #a7b6be;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avatar.company {
  border: 1px solid #546dab;
  background-color: #546dab;
  background-image: url(../img/avatar-company.png);
}

.avatar.project {
  border: 1px solid #8e9d43;
  background-color: #8e9d43;
  background-image: url(../img/avatar-project.png);
}

.avatar.profile,
.avatar.user {
  border: 1px solid #71527a;
  background-color: #71527a;
  background-image: url(../img/avatar-user.png);
}

.view-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -ms-Flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-box-orient: horizontal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.bg-container > nav {
  background-color: #454554;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
  z-index: 1001;
}

.bg-container > nav * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.bg-container > nav a,
.bg-container > nav a:hover {
  color: inherit;
  text-decoration: none;
}

.bg-container > aside {
  background-color: #f0f3f5;
  color: #454f54;
  border-right: 1px solid #c2cfd6;
  position: absolute;
  width: 100%;
  height: 85%;
  top: 15%;
  -webkit-transform: translateY(-1000px);
  -webkit-transition: all .25s ease-out;
  z-index: 1000;
}

.bg-container > aside > .bg-aside {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.bg-container > article {
  top: 15%;
  width: 100%;
  height: 85%;
  position: relative;
}

.bg-container > article > .bg-content {
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.open-aside {
  position: absolute;
  left: -10000px;
}

.open-aside:checked + aside {
  -webkit-transform: translateY(0);
}

@media screen and (min-width: 590px) {
  .bg-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .bg-container > nav {
    width: 10%;
    height: 100%;
  }

  .bg-container > aside {
    width: 260px;
    height: 100%;
    min-width: 260px;
    top: 0;
    -webkit-transform: translateY(0px) translateX(-1000px);
  }

  .open-aside:checked + aside {
    -webkit-transform: translateY(0px) translateX(10%);
  }

  .bg-container > article {
    width: 100%;
    height: 100%;
    left: 10%;
    top: 0;
  }
}

@media screen and (min-width: 801px) {
  .bg-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .bg-container > .open-aside,
  .open-aside-label {
    display: none;
  }

  .bg-container > nav {
    width: 80px;
    min-width: 80px;
    position: relative;
  }

  .open-aside:checked + aside {
    -webkit-transform: translateY(0px) translateX(0px);
  }

  .bg-container > aside {
    width: 260px;
    min-width: 260px;
    position: relative;
    -webkit-transform: translateY(0) translateX(0);
  }

  .bg-container > article {
    width: 100%;
    top: 0;
    left: 0;
  }

  .bg-container.no-sidebar > article {
    width: 100%;
  }
}

@media screen and (min-width: 1040px) {
  .bg-container > nav {
    width: 200px;
    min-width: 200px;
  }

  .bg-container > aside {
    width: 260px;
    min-width: 260px;
    position: relative;
  }

  .bg-container > aside > .bg-sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .bg-container > article {
    width: 100%;
    position: relative;
  }
}

@font-face {
  font-family: 'bg';
  src: url("../fonts/bg.eot?s5c5v1");
  src: url("../fonts/bg.eot?#iefixs5c5v1") format("embedded-opentype"), url("../fonts/bg.woff?s5c5v1") format("woff"), url("../fonts/bg.ttf?s5c5v1") format("truetype"), url("../fonts/bg.svg?s5c5v1#bg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="big-"],
[class*=" big-"] {
  font-family: 'bg';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.big-billingrad:before {
  content: "\e60e";
}

.big-calendar:before {
  content: "\e60c";
}

.big-piechart:before {
  content: "\e60b";
}

.big-sms:before {
  content: "\e60d";
}

.big-company:before {
  content: "\e60a";
}

.big-wallet:before {
  content: "\e609";
}

.big-user:before {
  content: "\e608";
}

.big-stat:before {
  content: "\e607";
}

.big-search:before {
  content: "\e606";
}

.big-options:before {
  content: "\e605";
}

.big-menu:before {
  content: "\e604";
}

.big-folder:before {
  content: "\e603";
}

.big-project:before {
  content: "\e602";
}

.big-briefcase:before {
  content: "\e601";
}

.big-help:before {
  content: "\e600";
}

@font-face {
  font-family: 'bgmini';
  src: url("../fonts/bgmini.eot?j0p9xz");
  src: url("../fonts/bgmini.eot?#iefixj0p9xz") format("embedded-opentype"), url("../fonts/bgmini.woff?j0p9xz") format("woff"), url("../fonts/bgmini.ttf?j0p9xz") format("truetype"), url("../fonts/bgmini.svg?j0p9xz#bgmini") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="mini-"],
[class*=" mini-"] {
  font-family: 'bgmini';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
}

.mini-move:before {
  content: "\e610";
}

.mini-target:before {
  content: "\e611";
}

.mini-bullet:before {
  content: "\e60a";
}

.mini-bullet2:before {
  content: "\e60c";
}

.mini-info:before {
  content: "\e60d";
}

.mini-phone:before {
  content: "\e614";
}

.mini-euro:before {
  content: "\65";
}

.mini-pound:before {
  content: "\e60b";
}

.mini-ruble:before {
  content: "\72";
}

.mini-usdollar:before {
  content: "\24";
}

.mini-config:before {
  content: "\e60e";
}

.mini-stat:before {
  content: "\e60f";
}

.mini-minus:before {
  content: "\2d";
}

.mini-plus:before {
  content: "\2b";
}

.mini-close:before {
  content: "\78";
}

.mini-bcard:before {
  content: "\e613";
}

.mini-search:before {
  content: "\3f";
}

.mini-visible:before {
  content: "\e601";
}

.mini-hidden:before {
  content: "\e602";
}

.mini-help:before {
  content: "\e603";
}

.mini-folder:before {
  content: "\e604";
}

.mini-folder-p:before {
  content: "\e605";
}

.mini-folder-c:before {
  content: "\e607";
}

.mini-edit:before {
  content: "\e606";
}

.mini-company:before {
  content: "\e608";
}

.mini-banknote:before {
  content: "\e609";
}

.mini-datetime:before {
  content: "\e600";
}

.navbar-hover .ico:after,
.nav-bar .icon-item .ico:after,
.open-help-label .icon-item .ico:after,
.navbar-hover .img:after,
.nav-bar .icon-item .img:after,
.open-help-label .icon-item .img:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  content: '';
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  -webkit-transform: scale(0);
  -webkit-transition: all .15s ease-out;
}

.navbar-hover:hover .ico:after,
.nav-bar .icon-item:hover .ico:after,
.open-help-label .icon-item:hover .ico:after,
.navbar-hover:hover .img:after,
.nav-bar .icon-item:hover .img:after,
.open-help-label .icon-item:hover .img:after {
  -webkit-box-shadow: 0 0 0 1px rgba(179, 195, 230, 0.5);
  box-shadow: 0 0 0 1px rgba(179, 195, 230, 0.5);
  -webkit-transform: scale(1);
}

.nav-bar {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.nav-bar a,
.nav-bar a:hover {
  color: inherit;
  text-decoration: none;
}

.nav-bar li {
  position: relative;
  list-style: none;
}

.nav-bar .icon-item {
  margin: 0 5px;
  position: relative;
}

.nav-bar .icon-item .ico {
  font-size: 24px;
}

.nav-bar .icon-item .img {
  width: 24px;
  height: 24px;
}

.nav-bar .icon-item .ico,
.nav-bar .icon-item .img {
  border-radius: 50px;
  padding: 4px;
  position: relative;
}

.nav-bar .icon-item span {
  display: none;
}

.nav-bar .bg-badge {
  padding: 3px;
  font-size: 10px;
  background-color: #454554;
  right: -2px;
  top: -2px;
}

.open-aside-label {
  cursor: pointer;
  position: absolute;
  left: 2%;
  top: 20%;
  font-size: 24px;
}

.open-aside-label .icon-item {
  display: inline-block;
}

.open-help-label {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 15%;
}

.open-help-label .icon-item {
  position: relative;
  display: inline-block;
}

.open-help-label .icon-item .ico {
  font-size: 24px;
}

.open-help-label .icon-item .ico {
  border-radius: 50px;
  padding: 4px;
  position: relative;
}

.open-help-label .icon-item span {
  display: none;
}

@media screen and (min-height: 480px) {
  .nav-logo {
    background-image: url(../img/mobile_logo@2.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    height: 30%;
    margin-top: 2.5%;
  }

  .open-aside-label {
    left: 3%;
    top: 10%;
  }

  .open-help-label {
    right: 3%;
    top: 6%;
  }

  .nav-bar {
    height: 60%;
  }

  .nav-bar li {
    margin: 0 2px;
  }

  .nav-bar .bg-badge {
    padding: 3px;
    font-size: 10px;
    right: -5px;
    top: 0;
  }
}

@media screen and (min-width: 590px) {
  .nav-logo {
    background-image: url(../img/logo-min@2.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 48px;
    background-size: 48px;
    margin-top: 0;
    width: auto;
    height: 90px;
    margin-top: 30px;
  }

  .no-sidebar .nav-logo {
    margin-top: 0;
  }

  .open-aside-label {
    left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
  }

  .open-help-label {
    bottom: 10px;
    top: auto;
    text-align: center;
    width: 100%;
    right: auto;
    text-align: center;
  }

  .open-help-label .icon-item {
    display: table;
  }

  .open-help-label .icon-item .ico {
    font-size: 32px;
  }

  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .nav-bar .icon-item {
    margin: 5px 0;
  }

  .nav-bar .icon-item .ico {
    font-size: 32px;
  }

  .nav-bar .icon-item .img {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 801px) {
  .nav-logo {
    margin: 0;
  }
}

@media screen and (min-width: 1040px) {
  .nav-logo {
    background-image: url(../img/logo@2.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    -webkit-background-size: 140px;
    background-size: 140px;
    margin-top: 0;
    width: auto;
    height: 90px;
    margin-top: 0px;
  }

  .nav-bar {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav-bar li {
    width: 100%;
  }

  .nav-bar .icon-item {
    width: 100%;
    padding-left: 10px;
  }

  .nav-bar .icon-item .ico,
  .nav-bar .icon-item .img {
    width: 34px;
    height: 34px;
    font-size: 34px;
    padding: 10px;
  }

  .nav-bar .icon-item span {
    display: table-cell;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 32px;
    padding-left: 10px;
  }

  .nav-bar .bg-badge {
    right: 5%;
    top: 0;
    background: none;
  }

  .open-help-label {
    width: 100%;
    padding-left: 20px;
    bottom: 20px;
  }

  .open-help-label i {
    width: auto;
  }

  .open-help-label span {
    width: 100%;
    text-align: left;
    display: table-cell;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 32px;
    padding-left: 20px;
  }
}

.bg-aside {
  position: relative;
}

.bg-aside .media {
  padding: 20px;
}

.bg-aside a {
  color: inherit;
  text-decoration: inherit;
}

.bg-aside .media-body {
  margin-top: 10px;
}

#ListCompany div {
  text-align: center;
}

#ListCompany label {
  font-weight: inherit;
}

#ListCompany header {
  text-align: center;
}

#ListCompany .avatar {
  position: relative;
}

#ListCompany .avatar:after {
  opacity: 1;
  content: "\e013";
  position: absolute;
  font-family: 'Glyphicons Halflings';
  color: #fff;
  font-size: 32px;
  line-height: 160px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(84, 109, 171, 0.5);
}

#ListCompany input:checked + .avatar {
  opacity: 0;
}