@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=cyrillic-ext,latin);

body {
  font-family: Arimo, Open Sans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 52px;
  font-weight: 200;
}

h1 small {
  font-weight: 400;
  font-size: 40%;
}

h2 {
  font-size: 36px;
  font-weight: 200;
}

h2 small {
  font-size: 50%;
}

blockquote,
.blockquote-reverse,
blockquote.pull-right {
  border-width: 0;
}

blockquote footer,
.blockquote-reverse footer,
blockquote.pull-right footer,
blockquote small,
.blockquote-reverse small,
blockquote.pull-right small,
blockquote .small,
.blockquote-reverse .small,
blockquote.pull-right .small {
  color: #a7b6be;
}

h4 small {
  margin-left: .5em;
}

h5,
h6 {
  text-transform: uppercase;
  letter-spacing: .05em;
}

h5 small,
h6 small {
  font-size: 100%;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #a7b6be;
}

.text-muted {
  color: #a7b6be;
}

.text-primary {
  color: #556eab;
}

.text-success {
  color: #8f9e44;
}

.text-info {
  color: #71527a;
}

.text-warning {
  color: #d9a53d;
}

.text-danger {
  color: #b0465f;
}

.btn {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 12px;
  padding: 10px 20px;
  border-color: #3d4143;
  color: #3d4143;
  -webkit-box-shadow: inset 0 -2px #3d4143;
  box-shadow: inset 0 -2px #3d4143;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 0;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
}

.btn.btn-lg {
  padding: 13px 16px 15px 16px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
}

.btn.btn-sm {
  padding: 6px 12px;
  border-radius: 3px;
}

.btn.btn-xs {
  padding: 1px 10px 3px 10px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .05em;
  border-radius: 20px;
}

.btn.btn-default {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  border-color: #cccccc;
  color: #000000;
  -webkit-box-shadow: inset 0 -2px #e6e6e6;
  box-shadow: inset 0 -2px #e6e6e6;
}

.btn.btn-default:hover,
.btn.btn-default:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 -2px 0 #cccccc;
  box-shadow: inset 0 -2px 0 #cccccc;
  outline: none;
}

.open .btn.btn-default,
.btn.btn-default:active,
.btn.btn-default.active {
  background-color: #ffffff;
  background-image: none;
  outline: none;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 2px #e6e6e6;
  box-shadow: inset 0 2px #e6e6e6;
  color: #000000;
}

.btn,
.btn.btn-primary {
  background-color: #556eab;
  background-image: -webkit-linear-gradient(top, #6689b3 0%, #556eab 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#6689b3), to(#556eab));
  background-image: linear-gradient(to bottom, #6689b3 0%, #556eab 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6689b3', endColorstr='#ff556eab', GradientType=0);
  border-color: #3c5778;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -2px #445889;
  box-shadow: inset 0 -2px #445889;
}

.btn:hover,
.btn.btn-primary:hover,
.btn:focus,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #556eab;
  background-image: -webkit-linear-gradient(top, #6689b3 0%, #556eab 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#6689b3), to(#556eab));
  background-image: linear-gradient(to bottom, #6689b3 0%, #556eab 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6689b3', endColorstr='#ff556eab', GradientType=0);
  border-color: #3c5778;
  -webkit-box-shadow: inset 0 -2px 0 #334267;
  box-shadow: inset 0 -2px 0 #334267;
  outline: none;
}

.open .btn,
.open .btn.btn-primary,
.btn:active,
.btn.btn-primary:active,
.btn.active,
.btn.btn-primary.active {
  background-color: #556eab;
  background-image: none;
  outline: none;
  border-color: #3c5778;
  -webkit-box-shadow: inset 0 2px #445889;
  box-shadow: inset 0 2px #445889;
  color: #ffffff;
}

.btn.btn-success {
  background-color: #8f9e44;
  background-image: -webkit-linear-gradient(top, #b0b04c 0%, #8f9e44 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#b0b04c), to(#8f9e44));
  background-image: linear-gradient(to bottom, #b0b04c 0%, #8f9e44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb0b04c', endColorstr='#ff8f9e44', GradientType=0);
  border-color: #69692d;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -2px #6f7a35;
  box-shadow: inset 0 -2px #6f7a35;
}

.btn.btn-success:hover,
.btn.btn-success:focus {
  color: #ffffff;
  background-color: #8f9e44;
  background-image: -webkit-linear-gradient(top, #b0b04c 0%, #8f9e44 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#b0b04c), to(#8f9e44));
  background-image: linear-gradient(to bottom, #b0b04c 0%, #8f9e44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb0b04c', endColorstr='#ff8f9e44', GradientType=0);
  border-color: #69692d;
  -webkit-box-shadow: inset 0 -2px 0 #4f5725;
  box-shadow: inset 0 -2px 0 #4f5725;
  outline: none;
}

.open .btn.btn-success,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #8f9e44;
  background-image: none;
  outline: none;
  border-color: #69692d;
  -webkit-box-shadow: inset 0 2px #6f7a35;
  box-shadow: inset 0 2px #6f7a35;
  color: #ffffff;
}

.btn.btn-info {
  background-color: #71527a;
  background-image: -webkit-linear-gradient(top, #875c8a 0%, #71527a 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#875c8a), to(#71527a));
  background-image: linear-gradient(to bottom, #875c8a 0%, #71527a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff875c8a', endColorstr='#ff71527a', GradientType=0);
  border-color: #4b334d;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -2px #553e5c;
  box-shadow: inset 0 -2px #553e5c;
}

.btn.btn-info:hover,
.btn.btn-info:focus {
  color: #ffffff;
  background-color: #71527a;
  background-image: -webkit-linear-gradient(top, #875c8a 0%, #71527a 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#875c8a), to(#71527a));
  background-image: linear-gradient(to bottom, #875c8a 0%, #71527a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff875c8a', endColorstr='#ff71527a', GradientType=0);
  border-color: #4b334d;
  -webkit-box-shadow: inset 0 -2px 0 #39293d;
  box-shadow: inset 0 -2px 0 #39293d;
  outline: none;
}

.open .btn.btn-info,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #71527a;
  background-image: none;
  outline: none;
  border-color: #4b334d;
  -webkit-box-shadow: inset 0 2px #553e5c;
  box-shadow: inset 0 2px #553e5c;
  color: #ffffff;
}

.btn.btn-warning {
  background-color: #d9a53d;
  background-image: -webkit-linear-gradient(top, #ddc652 0%, #d9a53d 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#ddc652), to(#d9a53d));
  background-image: linear-gradient(to bottom, #ddc652 0%, #d9a53d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddc652', endColorstr='#ffd9a53d', GradientType=0);
  border-color: #a89121;
  color: #000000;
  -webkit-box-shadow: inset 0 -2px #bd8b25;
  box-shadow: inset 0 -2px #bd8b25;
}

.btn.btn-warning:hover,
.btn.btn-warning:focus {
  color: #000000;
  background-color: #d9a53d;
  background-image: -webkit-linear-gradient(top, #ddc652 0%, #d9a53d 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#ddc652), to(#d9a53d));
  background-image: linear-gradient(to bottom, #ddc652 0%, #d9a53d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffddc652', endColorstr='#ffd9a53d', GradientType=0);
  border-color: #a89121;
  -webkit-box-shadow: inset 0 -2px 0 #936b1d;
  box-shadow: inset 0 -2px 0 #936b1d;
  outline: none;
}

.open .btn.btn-warning,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #d9a53d;
  background-image: none;
  outline: none;
  border-color: #a89121;
  -webkit-box-shadow: inset 0 2px #bd8b25;
  box-shadow: inset 0 2px #bd8b25;
  color: #000000;
}

.btn.btn-danger {
  background-color: #b0465f;
  background-image: -webkit-linear-gradient(top, #cd685c 0%, #b0465f 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#cd685c), to(#b0465f));
  background-image: linear-gradient(to bottom, #cd685c 0%, #b0465f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd685c', endColorstr='#ffb0465f', GradientType=0);
  border-color: #95382e;
  color: #ffffff;
  -webkit-box-shadow: inset 0 -2px #8c384b;
  box-shadow: inset 0 -2px #8c384b;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
  color: #ffffff;
  background-color: #b0465f;
  background-image: -webkit-linear-gradient(top, #cd685c 0%, #b0465f 100%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#cd685c), to(#b0465f));
  background-image: linear-gradient(to bottom, #cd685c 0%, #b0465f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd685c', endColorstr='#ffb0465f', GradientType=0);
  border-color: #95382e;
  -webkit-box-shadow: inset 0 -2px 0 #672938;
  box-shadow: inset 0 -2px 0 #672938;
  outline: none;
}

.open .btn.btn-danger,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #b0465f;
  background-image: none;
  outline: none;
  border-color: #95382e;
  -webkit-box-shadow: inset 0 2px #8c384b;
  box-shadow: inset 0 2px #8c384b;
  color: #ffffff;
}

.btn .caret {
  margin: 0 5px;
}

.btn-group.btn-group-justified .btn {
  border-left-width: 0;
}

.btn-group.btn-group-justified .btn:first-child {
  border-left-width: 1px;
}

.btn-group-vertical .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  background-color: transparent;
  padding: 10px 12px;
  height: auto;
  line-height: 20px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(85, 110, 171, 0);
  box-shadow: inset 0 0 0 2px rgba(85, 110, 171, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  -webkit-appearance: none;
  border-radius: 3px;
  border-color: rgba(167, 182, 190, 0.5);
  color: inherit;
}

.form-control:focus {
  outline: none;
  border-color: #556eab;
  -webkit-box-shadow: inset 0 0 0 2px #9aa8cd;
  box-shadow: inset 0 0 0 2px #9aa8cd;
}

.form-group label {
  font-weight: 400;
  font-size: 12px;
}

.radio label,
.checkbox label {
  text-transform: none;
  font-size: inherit;
  letter-spacing: inherit;
}

.input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group .input-group-addon {
  width: auto;
}

.input-group .input-group-btn {
  width: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group .input-group-btn .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.input-group .form-control {
  width: auto;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50px;
  -moz-box-flex: 1;
  -ms-flex: 1 1 50px;
  flex: 1 1 50px;
}

.input-group-addon {
  background-color: transparent;
  border-color: rgba(167, 182, 190, 0.5);
  color: #a7b6be;
  padding: 12px 16px 10px;
}

.input-group-addon .radio,
.input-group-addon .checkbox {
  margin: 0;
}

.has-success .form-control {
  border-color: rgba(143, 158, 68, 0.9);
  -webkit-box-shadow: inset 0 0 0 2px rgba(143, 158, 68, 0);
  box-shadow: inset 0 0 0 2px rgba(143, 158, 68, 0);
}

.has-success .form-control:focus {
  border-color: #8f9e44;
  -webkit-box-shadow: inset 0 0 0 2px #bcc880;
  box-shadow: inset 0 0 0 2px #bcc880;
}

.has-warning .form-control {
  border-color: rgba(217, 165, 61, 0.9);
  -webkit-box-shadow: inset 0 0 0 2px rgba(217, 165, 61, 0);
  box-shadow: inset 0 0 0 2px rgba(217, 165, 61, 0);
}

.has-warning .form-control:focus {
  border-color: #d9a53d;
  -webkit-box-shadow: inset 0 0 0 2px #eacc92;
  box-shadow: inset 0 0 0 2px #eacc92;
}

.has-error .form-control {
  -webkit-box-shadow: inset 0 0 0 2px rgba(176, 70, 95, 0);
  box-shadow: inset 0 0 0 2px rgba(176, 70, 95, 0);
}

.has-error .form-control:focus {
  border-color: #b0465f;
  -webkit-box-shadow: inset 0 0 0 2px #d18c9c;
  box-shadow: inset 0 0 0 2px #d18c9c;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: rgba(0, 0, 0, 0.01);
}

.form-control:-webkit-autofill,
input:-webkit-autofill {
  background-color: #d9a53d;
}

.radio label,
.checkbox label {
  padding-left: 0;
}

.icheckbox {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(167, 182, 190, 0.5);
  position: relative;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.icheckbox.hover {
  border-color: #556eab;
}

.icheckbox.checked {
  background-color: #556eab;
  border-color: #445889;
  -webkit-box-shadow: inset 0 1px 0 #445889;
  box-shadow: inset 0 1px 0 #445889;
}

.icheckbox.checked:before {
  content: "\e013";
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Glyphicons Halflings';
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.input-group-addon .icheckbox {
  width: 18px;
  height: 18px;
}

.input-group-addon .icheckbox.checked:before {
  line-height: 16px;
  font-size: 10px;
}

.iradio {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid rgba(167, 182, 190, 0.5);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.iradio.hover {
  border-color: #556eab;
}

.iradio.checked {
  background-color: #556eab;
  border-color: #445889;
  -webkit-box-shadow: inset 0 1px 0 #445889;
  box-shadow: inset 0 1px 0 #445889;
}

.iradio.checked:before {
  content: "\e014";
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Glyphicons Halflings';
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.input-group-addon .iradio {
  width: 18px;
  height: 18px;
}

.input-group-addon .iradio.checked:before {
  line-height: 16px;
  font-size: 10px;
}

.help-block {
  font-size: 12px;
}

.table > thead > tr > th {
  color: #a7b6be;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 400;
}

.table > thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table > thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 14px;
  border: 0;
  border-left: 1px solid rgba(167, 182, 190, 0.2);
  border-top: 1px solid rgba(167, 182, 190, 0.2);
}

.table > thead > tr > th:first-child,
.table tbody > tr > th:first-child,
.table tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table tbody > tr > td:first-child,
.table tfoot > tr > td:first-child {
  border-left: 0;
}

.table .level-1 > td:first-child {
  background-image: -webkit-linear-gradient(left, rgba(167, 182, 190, 0.2) 8px, transparent 8px, transparent);
  background-image: -webkit-gradient(linear, top left, top right, from(rgba(167, 182, 190, 0.2)), color-stop(8px, transparent), to(transparent));
  background-image: linear-gradient(to right, rgba(167, 182, 190, 0.2) 8px, transparent 8px, transparent);
  background-repeat: no-repeat;
}

.table .level-2 > td:first-child {
  background-image: -webkit-linear-gradient(left, rgba(167, 182, 190, 0.2) 12px, transparent 12px, transparent);
  background-image: -webkit-gradient(linear, top left, top right, from(rgba(167, 182, 190, 0.2)), color-stop(12px, transparent), to(transparent));
  background-image: linear-gradient(to right, rgba(167, 182, 190, 0.2) 12px, transparent 12px, transparent);
  background-repeat: no-repeat;
}

.table .level-1 > td {
  padding-left: 22px;
  padding-right: 6px;
}

.table .level-2 > td {
  padding-left: 26px;
  padding-right: 2px;
}

.table-condensed > thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 8px;
}

.table-striped > tbody > tr:nth-child(odd) {
  background: none;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: none;
  background-color: rgba(167, 182, 190, 0.15);
}

.table-bordered {
  border: 1px solid rgba(167, 182, 190, 0.2);
}

.table-hover > tbody > tr:hover {
  background: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(85, 110, 171, 0.15);
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: rgba(85, 110, 171, 0.15);
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: rgba(77, 99, 154, 0.15);
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: rgba(85, 110, 171, 0.15);
  border-left-color: rgba(60, 77, 120, 0.15);
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: rgba(143, 158, 68, 0.15);
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: rgba(127, 140, 60, 0.15);
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: rgba(143, 158, 68, 0.15);
  border-left-color: rgba(95, 105, 45, 0.15);
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: rgba(113, 82, 122, 0.15);
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: rgba(99, 72, 107, 0.15);
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: rgba(113, 82, 122, 0.15);
  border-left-color: rgba(71, 51, 77, 0.15);
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: rgba(217, 165, 61, 0.15);
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: rgba(211, 154, 41, 0.15);
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: rgba(217, 165, 61, 0.15);
  border-left-color: rgba(168, 123, 33, 0.15);
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: rgba(176, 70, 95, 0.15);
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: rgba(158, 63, 85, 0.15);
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: rgba(176, 70, 95, 0.15);
  border-left-color: rgba(121, 49, 66, 0.15);
}

.dropdown-menu {
  background-color: #fcfcfc;
  border-width: 0;
  border-bottom: 1px solid #556eab;
  border-radius: 0;
  overflow: hidden;
  max-height: 0;
  -webkit-box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.25);
}

.dropdown-menu > li > a {
  padding: 10px 15px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #556eab;
}

.open > .dropdown-menu {
  -webkit-animation: dropdown-menu 2.5s ease-in normal both;
  animation: dropdown-menu 2.5s ease-in normal both;
  display: block;
}

@-webkit-keyframes dropdown-menu {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 10000px;
  }
}

@keyframes dropdown-menu {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 10000px;
  }
}

.nav > li > a {
  /*padding: @nav-link-padding;*/
  font-size: 14px;
  color: inherit;
  line-height: 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav > li.disabled > a {
  color: #b9c1c6;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #b9c1c6;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #e9ebed;
  border-color: #556eab;
}

.nav-tabs {
  border-bottom: 0;
  -webkit-box-shadow: inset 0 -1px rgba(167, 182, 190, 0.15);
  box-shadow: inset 0 -1px rgba(167, 182, 190, 0.15);
}

.nav-tabs > li {
  float: left;
  border-right: 1px solid rgba(167, 182, 190, 0.15);
  margin: 0;
}

.nav-tabs > li:last-child {
  border-right: 0;
}

.nav-tabs > li > a {
  margin-right: 0;
  border-width: 0;
  line-height: 1.428571429;
  -webkit-box-shadow: inset 0 0 #556eab;
  box-shadow: inset 0 0 #556eab;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 0 0 0 0;
}

.nav-tabs > li > a:hover {
  border-width: 0;
  color: #556eab;
  -webkit-box-shadow: inset 0 -1px #556eab;
  box-shadow: inset 0 -1px #556eab;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: transparent;
  -webkit-box-shadow: inset 0 -100px #556eab;
  box-shadow: inset 0 -100px #556eab;
  border-width: 0;
  border-bottom-width: 0;
  cursor: default;
}

.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 0;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-width: 0px;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 0px;
    border-radius: 0 0 0 0;
  }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 #556eab;
  box-shadow: inset 0 0 #556eab;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.nav-pills > li + li {
  margin-left: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  -webkit-box-shadow: inset 0 -100px #556eab;
  box-shadow: inset 0 -100px #556eab;
  background-color: transparent;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 0;
  margin-left: 0;
}

.nav-stacked.nav-pills > li.active > a,
.nav-stacked.nav-tabs > li.active > a,
.nav-stacked.nav-pills > li.active > a:hover,
.nav-stacked.nav-tabs > li.active > a:hover,
.nav-stacked.nav-pills > li.active > a:focus,
.nav-stacked.nav-tabs > li.active > a:focus {
  -webkit-box-shadow: inset 3000px 0px #556eab;
  box-shadow: inset 3000px 0px #556eab;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  text-align: center;
  margin-bottom: 0;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 0;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border-width: 0px;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 0px;
    border-radius: 0 0 0 0;
  }

  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel {
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  margin: 10px 0 20px 0;
  background-color: inherit;
}

.panel-body {
  padding: 0 0 20px 0;
  background-color: inherit;
}

.panel > .panel-heading {
  background-color: transparent;
  color: inherit;
  font-weight: 400;
}

.panel-heading {
  border-width: 0;
  border-radius: 0;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0 20px 0;
}

.panel-title {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.panel-footer {
  background-color: transparent;
  padding: 10px 0 20px 0;
  margin-top: 10px;
  border-color: #e9ebed;
  color: inherit;
}

.panel-default {
  border-width: 0;
}

.panel-default > .panel-heading {
  border-top: 1px solid #e9ebed;
}

.panel-primary > .panel-heading {
  border-top: 1px solid #556eab;
  color: #556eab;
}

.panel-success > .panel-heading {
  border-top: 1px solid #8f9e44;
  color: #8f9e44;
}

.panel-info > .panel-heading {
  border-top: 1px solid #71527a;
  color: #71527a;
}

.panel-warning > .panel-heading {
  border-top: 1px solid #d9a53d;
  color: #d9a53d;
}

.panel-danger > .panel-heading {
  border-top: 1px solid #b0465f;
  color: #b0465f;
}

.thumbnail {
  padding: 0;
  border-width: 0;
}

.modal-content {
  border-radius: 0;
  border-width: 0px;
  border-bottom: 1px solid #b9c1c6;
  -webkit-box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
  background-color: #fcfcfc;
}

.modal-header {
  padding: 15px 20px;
  border-bottom-width: 0;
}

.modal-footer {
  padding: 15px 20px 20px 20px;
  border-width: 0;
}

.progress {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border-width: 0;
  border-radius: 10px;
  height: 10px;
}

.progress-bar {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.25) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
}

.navbar {
  border-width: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  white-space: nowrap;
}

.navbar-default {
  -webkit-box-shadow: inset 0 -1px #e9ebed;
  box-shadow: inset 0 -1px #e9ebed;
  background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav li.open > a {
  color: #3d4143;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.25s ease-out;
  -webkit-box-shadow: inset 0 0 #556eab;
  box-shadow: inset 0 0 #556eab;
}

.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav li.open > a:hover {
  color: #3d4143;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 -1px #556eab;
  box-shadow: inset 0 -1px #556eab;
}

.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav li.open > a:focus {
  color: #ffffff;
  background-color: hlsa(0, 0%, 0%, 0);
  -webkit-box-shadow: inset 0 -100px #556eab;
  box-shadow: inset 0 -100px #556eab;
}

.pagination > li > a,
.pagination > li.active > a,
.pagination > li.disabled > a,
.pagination > li > span,
.pagination > li.active > span,
.pagination > li.disabled > span,
.pagination > li > a:hover,
.pagination > li.active > a:hover,
.pagination > li.disabled > a:hover,
.pagination > li > span:hover,
.pagination > li.active > span:hover,
.pagination > li.disabled > span:hover,
.pagination > li > a:active,
.pagination > li.active > a:active,
.pagination > li.disabled > a:active,
.pagination > li > span:active,
.pagination > li.active > span:active,
.pagination > li.disabled > span:active,
.pagination > li > a:focus,
.pagination > li.active > a:focus,
.pagination > li.disabled > a:focus,
.pagination > li > span:focus,
.pagination > li.active > span:focus,
.pagination > li.disabled > span:focus {
  background-color: transparent;
  border-width: 0;
  outline: 0;
  color: #3d4143;
}

.pagination > li > a,
.pagination > li > span {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  padding: 0;
}

.pagination > li > a:hover {
  color: transparent;
}

.pagination > li > a:active {
  color: transparent;
}

.pagination > li > a:focus {
  color: transparent;
}

.pagination > li > a:before {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  -webkit-box-shadow: inset 0 0 0 10px #3d4143;
  box-shadow: inset 0 0 0 10px #3d4143;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
}

.pagination > li > a:hover:before {
  -webkit-box-shadow: inset 0 0 0 5px #556eab;
  box-shadow: inset 0 0 0 5px #556eab;
  -webkit-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25);
  transform: scale(0.25, 0.25);
}

.pagination > li > a:active:before {
  -webkit-box-shadow: inset 0 0 0 10px #556eab;
  box-shadow: inset 0 0 0 10px #556eab;
  -webkit-transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15);
  transform: scale(0.15, 0.15);
}

.pagination > li.active > a,
.pagination > li.active > span {
  color: #556eab;
}

.pagination > li.active > a:hover {
  color: #556eab;
}

.pagination > li.active > a:before {
  -webkit-box-shadow: inset 0 0 0 1px #556eab;
  box-shadow: inset 0 0 0 1px #556eab;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.pagination > li.disabled > a,
.pagination > li.disabled > span,
.pagination > li.disabled > a:hover,
.pagination > li.disabled > span:hover,
.pagination > li.disabled > a:active,
.pagination > li.disabled > span:active {
  color: #b9c1c6;
}

.pagination > li.disabled > a:before {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
}

.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
  color: transparent;
  margin-right: 1px;
  margin-left: 1px;
}

.pagination > li:first-child > a:hover,
.pagination > li:last-child > a:hover {
  color: transparent;
}

.pagination > li:first-child > a:active,
.pagination > li:last-child > a:active {
  color: transparent;
}

.pagination > li:first-child > a:after,
.pagination > li:last-child > a:after,
.pagination > li:first-child > span:after,
.pagination > li:last-child > span:after {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  -webkit-transform: rotateZ(45deg) scale(0.25);
  border: 0 solid #3d4143;
  border-width: 0 0 4px 4px;
  top: 0;
  right: -2px;
}

.pagination > li:first-child > a:hover:after,
.pagination > li:last-child > a:hover:after {
  border: 0 solid #556eab;
  border-width: 0 0 4px 4px;
}

.pagination > li:first-child > a:active:after,
.pagination > li:last-child > a:active:after {
  -webkit-transform: rotateZ(45deg) scale(0.15);
}

.pagination > li:first-child > a:hover:before,
.pagination > li:last-child > a:hover:before {
  -webkit-box-shadow: inset 0 0 0 1px #556eab;
  box-shadow: inset 0 0 0 1px #556eab;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.pagination > li:first-child > a:active:before,
.pagination > li:last-child > a:active:before {
  -webkit-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}

.pagination > li:first-child > a:focus:before,
.pagination > li:last-child > a:focus:before {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
}

.pagination > li:last-child > a:after,
.pagination > li:last-child > span:after,
.pagination > li:last-child > a:hover:after {
  border-width: 4px 4px 0 0;
  right: 2px;
}

.pagination.pagination-lg > li > a,
.pagination.pagination-lg > li > span {
  width: 54px;
  height: 54px;
  line-height: 54px;
}

.pagination.pagination-lg > li:first-child > a:after,
.pagination.pagination-lg > li:first-child > span:after {
  right: -2px;
}

.pagination.pagination-lg > li:last-child > a:after,
.pagination.pagination-lg > li:last-child > span:after {
  right: 2px;
}

.pagination.pagination-sm > li > a,
.pagination.pagination-sm > li > span {
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.pagination.pagination-sm > li:first-child > a:after,
.pagination.pagination-sm > li:first-child > span:after {
  right: -2px;
}

.pagination.pagination-sm > li:last-child > a:after,
.pagination.pagination-sm > li:last-child > span:after {
  right: 2px;
}

.label {
  font-weight: inherit;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.3em 1em .4em;
}

.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
}

.label-default {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #a7b6be;
  box-shadow: inset 0 0 0 1px #a7b6be;
  color: #a7b6be;
}

.label-primary {
  background-color: #556eab;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #445889;
}

.label-success {
  background-color: #8f9e44;
}

.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #6f7a35;
}

.label-info {
  background-color: #71527a;
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #553e5c;
}

.label-warning {
  background-color: #d9a53d;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #bd8b25;
}

.label-danger {
  background-color: #b0465f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #8c384b;
}

.alert {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px;
}

.alert .alert-link {
  font-weight: 400;
  display: inline-block;
  padding: 0 .25em;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}

.alert-dismissable {
  padding-right: 40px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #8f9e44;
  border-color: #728c3c;
  color: #ffffff;
  -webkit-box-shadow: 0 10px 20px -5px rgba(85, 105, 45, 0.65);
  box-shadow: 0 10px 20px -5px rgba(85, 105, 45, 0.65);
}

.alert-success hr {
  border-top-color: #637a35;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-success hr {
  border-top-color: #728c3c;
}

.alert-success .alert-link {
  color: inherit;
  background: -webkit-gradient(linear, bottom left, top left, from(transparent), color-stop(3px, #ffffff), to(transparent));
  background: -webkit-linear-gradient(bottom, transparent 2px, #ffffff 3px, transparent 3px);
  background: linear-gradient(to top, transparent 2px, #ffffff 3px, transparent 3px);
  text-shadow: -1px 2px 0 #8f9e44, 1px 2px 0 #8f9e44, -1px 0 0 #8f9e44, 1px 0 0 #8f9e44;
}

.alert-info {
  background-color: #71527a;
  border-color: #57486b;
  color: #ffffff;
  -webkit-box-shadow: 0 10px 20px -5px rgba(62, 51, 77, 0.65);
  box-shadow: 0 10px 20px -5px rgba(62, 51, 77, 0.65);
}

.alert-info hr {
  border-top-color: #4b3e5c;
}

.alert-info .alert-link {
  color: #e6e6e6;
}

.alert-info hr {
  border-top-color: #57486b;
}

.alert-info .alert-link {
  color: inherit;
  background: -webkit-gradient(linear, bottom left, top left, from(transparent), color-stop(3px, #ffffff), to(transparent));
  background: -webkit-linear-gradient(bottom, transparent 2px, #ffffff 3px, transparent 3px);
  background: linear-gradient(to top, transparent 2px, #ffffff 3px, transparent 3px);
  text-shadow: -1px 2px 0 #71527a, 1px 2px 0 #71527a, -1px 0 0 #71527a, 1px 0 0 #71527a;
}

.alert-warning {
  background-color: #d9a53d;
  border-color: #d38c29;
  color: #000000;
  -webkit-box-shadow: 0 10px 20px -5px rgba(168, 112, 33, 0.65);
  box-shadow: 0 10px 20px -5px rgba(168, 112, 33, 0.65);
}

.alert-warning hr {
  border-top-color: #bd7e25;
}

.alert-warning .alert-link {
  color: #000000;
}

.alert-warning hr {
  border-top-color: #d38c29;
}

.alert-warning .alert-link {
  color: inherit;
  background: -webkit-gradient(linear, bottom left, top left, from(transparent), color-stop(3px, #000000), to(transparent));
  background: -webkit-linear-gradient(bottom, transparent 2px, #000000 3px, transparent 3px);
  background: linear-gradient(to top, transparent 2px, #000000 3px, transparent 3px);
  text-shadow: -1px 2px 0 #d9a53d, 1px 2px 0 #d9a53d, -1px 0 0 #d9a53d, 1px 0 0 #d9a53d;
}

.alert-danger {
  background-color: #b0465f;
  border-color: #9e3f75;
  color: #ffffff;
  -webkit-box-shadow: 0 10px 20px -5px rgba(121, 49, 90, 0.65);
  box-shadow: 0 10px 20px -5px rgba(121, 49, 90, 0.65);
}

.alert-danger hr {
  border-top-color: #8c3867;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

.alert-danger hr {
  border-top-color: #9e3f75;
}

.alert-danger .alert-link {
  color: inherit;
  background: -webkit-gradient(linear, bottom left, top left, from(transparent), color-stop(3px, #ffffff), to(transparent));
  background: -webkit-linear-gradient(bottom, transparent 2px, #ffffff 3px, transparent 3px);
  background: linear-gradient(to top, transparent 2px, #ffffff 3px, transparent 3px);
  text-shadow: -1px 2px 0 #b0465f, 1px 2px 0 #b0465f, -1px 0 0 #b0465f, 1px 0 0 #b0465f;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  color: inherit;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid;
  min-width: 24px;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #556eab;
  background-color: #ffffff;
}

.nav-pills > li > a > .badge {
  margin-left: 3px;
}

.x-large {
  font-size: 40px;
}

.large {
  font-size: 30px;
}

.default {
  font-size: 20px;
}

.small {
  font-size: 15px;
}

.x-small {
  font-size: 10px;
}

.hi-plus,
.hi-add,
.hi-minus,
.hi-remove,
.hi-menu,
.hi-check,
.hi-close {
  padding-right: 1.5em;
  position: relative;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline;
  font-size: 15px;
}

.hi-plus:before,
.hi-add:before,
.hi-minus:before,
.hi-remove:before,
.hi-menu:before,
.hi-check:before,
.hi-close:before {
  content: ' ';
  width: 0em;
  height: 0em;
  position: absolute;
  left: 0em;
  bottom: 0em;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-plus:after,
.hi-add:after,
.hi-minus:after,
.hi-remove:after,
.hi-menu:after,
.hi-check:after,
.hi-close:after {
  content: ' ';
  width: 0em;
  height: 0em;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-plus:before,
.hi-add:before {
  width: .5em;
  height: .5em;
  left: .5em;
  bottom: .5em;
  border-left-width: 0.1em;
  border-bottom-width: 0.1em;
}

.hi-plus:after,
.hi-add:after {
  width: .5em;
  height: .5em;
  bottom: 0;
  left: 0;
  border-right-width: 0.1em;
  border-top-width: 0.1em;
}

.hi-minus:before,
.hi-remove:before {
  width: 1em;
  height: .5em;
  left: 0;
  bottom: .5em;
  border-bottom-width: 0.1em;
}

.hi-menu:before {
  width: 1em;
  height: .1em;
  left: 0;
  top: .2em;
  border-bottom-width: 0.1em;
  border-top-width: 0.1em;
}

.hi-menu:after {
  width: 1em;
  height: .1em;
  left: 0;
  top: .6em;
  border-bottom-width: 0.1em;
  border-top-width: 0.1em;
}

.hi-check:before {
  border-bottom-width: 0.1em;
  border-left-width: 0.1em;
  width: .75em;
  height: .5em;
  left: 0em;
  bottom: .5em;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.hi-close:before {
  border-bottom-width: 0.1em;
  border-left-width: 0.1em;
  width: 0em;
  height: 1em;
  left: .5em;
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.hi-close:after {
  border-right-width: 0.1em;
  border-top-width: 0.1em;
  width: 1em;
  height: 0;
  bottom: .5em;
  left: 0;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.media-object {
  border-radius: 50%;
  border: 1px solid #a7b6be;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  border-width: 0;
  -webkit-box-shadow: inset 0 0 0 0 #556eab;
  box-shadow: inset 0 0 0 0 #556eab;
  -webkit-transition: -webkit-box-shadow, 0.15s linear;
  transition: box-shadow, 0.15s linear;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item > .badge {
  float: right;
}

.list-group-item > .badge + .badge {
  margin-right: 5px;
}

a.list-group-item {
  color: inherit;
}

a.list-group-item .list-group-item-heading {
  color: inherit;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  color: inherit !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: inset 3px 0 0 0 #556eab;
  box-shadow: inset 3px 0 0 0 #556eab;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  background-color: #e9ebed;
  color: #b9c1c6;
  cursor: not-allowed;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: inherit !important;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: inherit !important;
  background-color: transparent !important;
  border-width: 0;
  -webkit-box-shadow: inset 3px 0 0 0 #556eab;
  box-shadow: inset 3px 0 0 0 #556eab;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: inherit !important;
}

.list-group-item-success {
  color: #3c763d;
  background-color: #f0faeb;
}

a.list-group-item-success {
  color: #3c763d;
}

a.list-group-item-success .list-group-item-heading {
  color: inherit;
}

a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #3c763d;
  background-color: #e0f5d6;
}

a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.list-group-item-info {
  color: #31708f;
  background-color: #ebfafa;
}

a.list-group-item-info {
  color: #31708f;
}

a.list-group-item-info .list-group-item-heading {
  color: inherit;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #31708f;
  background-color: #d6f5f5;
}

a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.list-group-item-warning {
  color: #8a6d3b;
  background-color: #faf5eb;
}

a.list-group-item-warning {
  color: #8a6d3b;
}

a.list-group-item-warning .list-group-item-heading {
  color: inherit;
}

a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #f5ebd6;
}

a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

.list-group-item-danger {
  color: #a94442;
  background-color: #faebeb;
}

a.list-group-item-danger {
  color: #a94442;
}

a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}

a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #a94442;
  background-color: #f5d6d6;
}

a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.panel .list-group-item {
  border-radius: 0 !important;
  border-width: 0 !important;
}

::-webkit-input-placeholder {
  color: #a7b6be;
}

::-webkit-scrollbar {
  width: 5px;
  border-width: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #a7b6be;
}

.caret {
  margin: 0 5px;
}