@import '../variables.scss';


$background-color:       #fff;
$nav-background-color:   hsl(240, 10%, 30%);
$aside-background-color: hsl(200, 20%, 95%);
$aside-border:           1px solid hsl(200, 20%, 80%);
$aside-text-color:       hsl(200, 10%, 30%);

// Widths 
$navbar-width-mini:     10%;
$sidebar-width-mini:    260px;

$navbar-width:          80px;
$sidebar-width:         260px;

$navbar-large:          200px;
$sidebar-large:         260px;



body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


body {
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
}


@import 'parts/assets.scss';
@import 'parts/layout.scss';
@import 'parts/icons.scss';
@import 'parts/navbar.scss';
@import 'parts/sidebar.scss';





#ListCompany {
  div {
    text-align: center;
  }
  label {
    font-weight: inherit;
  }
  header {
    text-align: center; 
  }
  
  .avatar {
    position: relative;
  }
  
  .avatar:after {
    opacity: 1;
    content: "\e013";
    position: absolute;
    font-family: 'Glyphicons Halflings';
    color: #fff;
    font-size: 32px;
    line-height: 160px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-color: fade-out($brand-primary, .5);
  }
  
  input:checked + .avatar {
    opacity: 0;
  }
}











