// bg-theme.less


//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,600,700&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=cyrillic-ext,latin);

@import '../bootstrap/less/variables.less';
@import '../bootstrap/less/mixins.less';

@gray-dark:             hsl( 200, 5%, 25% );
@gray:                  hsl( 200, 15%, 70% );
@gray-light:            hsl( 200, 10%, 75% );
@gray-lighter:          hsl( 200, 10%, 92% );


@brand-primary:         hsv( 223, 50%, 67% );
@brand-success:         hsv( 70, 57%, 62% );
@brand-info:            hsv( 286, 33%, 48% );
@brand-warning:         hsv( 40, 72%, 85% );
@brand-danger:          hsv( 346, 60%, 69% );



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     6px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.33;
@line-height-small:         1.5;

@border-radius-base:        3px;
@border-radius-large:       5px;
@border-radius-small:       3px;
@border-radius-xsmall:      20px;



//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             #3c763d;
@state-success-bg:               hsl( 100, 60%, 95% );
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #31708f;
@state-info-bg:                  hsl( 180, 60%, 95% );
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               hsl( 40, 60%, 95% );
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #a94442;
@state-danger-bg:                hsl( 0, 60%, 95% );
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);



@import 'bg-theme/mixins.less';
@import 'bg-theme/type.less';   
@import 'bg-theme/buttons.less';
@import 'bg-theme/button-groups.less';
@import 'bg-theme/forms.less';
@import 'bg-theme/tables.less';
@import 'bg-theme/dropdowns.less';
@import 'bg-theme/navs.less';
@import 'bg-theme/panels.less';
@import 'bg-theme/thumbnails.less';
@import 'bg-theme/modals.less';
@import 'bg-theme/progress-bars.less';
@import 'bg-theme/navbar.less';
@import 'bg-theme/pagination.less';
@import 'bg-theme/labels.less';
@import 'bg-theme/alerts.less';
@import 'bg-theme/badges.less';
@import 'bg-theme/html-icons.less';
@import 'bg-theme/media.less';
@import 'bg-theme/list-group.less';



::-webkit-input-placeholder {
  color: @gray;
}

::-webkit-scrollbar {
  width: 5px; 
  border-width: 0;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background-color: @gray; 
}





.caret {
  margin: 0 5px; 
}

