		<div class="b-side__container">

			<article class="b-main__container">
			
			
				<h1 class="b-main__title clearfix">Проект</h1>
				
<p>
<strong>Интернет-эквайринг</strong>
- услуга приема платежей по Банковским картам на сайте (или в мобильном приложении) торгово-сервисного предприятия (ТСП).
</p>
<p>
ТСП может организовать прием платежей по Банковским картам через Интернет, если его товары и услуги не запрещены для продажи online международными платежными системами (Visa, Master Card и др.). Под запрет попадают такие сферы как: лекарства и медицинские препараты, огнестрельное оружие, опасные и скоропортящиеся товары, аукционы или торговые системы, подпольные или нелегальные аудио и видео записи, поддельные или контрафактные товары и др.
</p>
<p class='intro'>
Интернет-эквайринг обеспечивается
</p>
<p>
<strong>Банками-эквайерами</strong>
, которые проводят авторизации операций оплаты в своём процессинговом центре,  ведут взаиморасчеты  по операциям оплаты с ТСП, международными платежными системами и Банками эмитентами.
</p>
<p>
За оказание услуг Интернет-эквайринга, Банк-эквайер взимает комиссию с ТСП. Комиссия по Интернет-эквайрингу выше комиссий в Торговом эквайринге, т.к. проведение операций оплаты через Интернет подвержено большим рискам из-за мошенничества, а также обусловлено более высокой себестоимостью проведения транзакций.
</p>
<p>
<strong>Сервис провайдеры (Payler)</strong>
обеспечивают передачу информации об операциях оплаты полученной от ТСП в Банк-эквайер, что дает возможность сервисным компаниям предоставлять ТСП более детальную информацию по операциям, проводить аналитику платежей и управлять статусами операций в режиме реального времени в кабинете мерчанта.
</p>
<p>
Данный функционал реализован на стороне сервис провайдера, который имеет свой собственный фрод-мониторинг операций с более гибкими настройками безопасности проведения платежей, обязательным требованием для этого является  соответствие  сервис провайдера стандартам безопасности PCI DSS позволяющим хранить и передавать данные по операциям.
</p>
<p>
<strong>Payler, как сервис провайдер,</strong>
оказывает ряд сопутствующих услуг, таких как:
</p>
<p>

<ul>
	<li>Рекомендации к подготовке сайта ТСП согласно всех требований международных платежных систем;</li>
	<li>Рекомендации к выбору Банка-эквайера и подготовка документов для заключения договора Интернет-эквайринга;</li>
	<li>Разработка платежной бизнес модели и легитимной юридической схемы для торгово-сервисных предприятий с нестандартным подходом и стартапов;</li>
	<li>Предоставление личного кабинета предприятия для управления операциями оплаты и выгрузкой финансовой отчетности;</li>
	<li>Графический дизайн формы оплаты с учетом пожеланий ТСП;</li>
	<li>Интеграция платежной формы, тестирование и запуск в боевой режим приема платежей;</li>
	<li>Подключение других способов оплаты, например посредством электронных кошельков и мобильной коммерции;</li>
	<li>Резервирование канала приема платежей;</li>
	<li>Анализ бизнес процессов и настройка дополнительных правил безопасности проведения платежей в целях обеспечения защиты против мошенничества (фрод. мониторинг);</li>
	<li>Предоставление SDK (Набор Средств Разработки) для быстрой интеграции.</li>
</ul>

</p>

<h2 class='page-title' id='acquiring_terms'>Условия</h2>
<p>
Компания
<strong>Payler</strong>
предлагаем Вам организовать прием платежей по Банковским картам на сайте Вашего электронного магазина на следующих условиях:
</p>
<p class='text-center'>Прием платежей по банковским картам с использованием мобильного терминала mPOS</p>
<table class='table table-custom'>
<thead>
<tr>
<th></th>
<th class='text-center border-1'>
Комиссия
<br>
Банка-эквайера
</th>
<th class='text-center border-2'>
Абонентская плата
<br>
в мес. (без НДС)
</th>
</tr>
</thead>
<tbody>
<tr>
<td>Оплата услуг и товаров по картам Visa, MasterCard</td>
<td class='text-center border-1'>
<strong>3,0%</strong>
</td>
<td class='text-center border-2'>
<strong>3 000 руб.</strong>
</td>
</tr>
<tr>
<td>Оплата услуг и товаров по картам American Express, Diners Club, JCB</td>
<td class='text-center border-1' colspan='2'>
<strong>При необходимости, индивидуально</strong>
</td>
</tr>
</tbody>
</table>

<p>Комиссия Банка-эквайера удерживается с каждой операции, зачисление денежных средств происходит на следующий рабочий день на р/с предприятия.</p>

<p>Комиссия Банка-эквайера учитывается в прямом договоре Интернет-эквайринга с предприятием.</p>

<p>Абонентская плата, может быть снижена, если оборот предприятия по Банковским картам в Интернет стабильно будет выше 2 млн. руб. в месяц.</p>

<p>Абонентская плата учитывается в отдельном договоре компании Payler с предприятием как плата за услуги по предоставлению сопутствующих сервисов и обеспечению безопасности проведения платежей, а также служит гарантией взаимовыгодного сотрудничества.</p>


<h2 class='page-title' id='acquiring_stages'>Этапы подключения</h2>
<p>
<strong>Подготовка сайта согласно требований международных платежных систем</strong>
<br>
Требования, предъявляемые к сайту торгово-сервисного предприятия
<a href="/requirements.doc">Скачать</a>
</p>
<p>
<strong>Подготовка и представление учредительных документов, необходимых  для заключения договора Интернет-эквайринга</strong>
<br>
Перечень документов представляемых в Payler сканированном виде
<a href="/documents_list.doc">Скачать</a>
<br>
Скан копии присылается на E-mail: docs[at]payler.com
</p>
<p>
<strong>Проверка сайта предприятия на готовность к приему платежей со стороны службы безопасности Payler и Банка-эквайера</strong>
<br>
До 10-ти рабочих дней
</p>
<p>
<strong>Представление в Payler оригиналов договоров Интернет-эквайринга и Абонентского договора Payler.</strong>
<br>
Договора представляются менеджерами Payler отдельно
</p>
<p>
<strong>Интеграция к платежному шлюзу Payler (тестирование и запуск)</strong>
<br>
Технический протокол интеграции (API)
<a href="javascript:void(0)">Скачать</a>
<br>
Примеры кастомизированной платежной формы оплаты
<a href="javascript:void(0)">Скачать</a>
</p>
				
				

			</article>
		</div>
		
		
		
		
		
		
		
		
		