		<div class="b-side__container">


				<div plugin-slides>


				<div class="nav-container">
				  <div class="nav-links" data-active="1">
				    <div class="s1 active"><h1>Вход</h1></div>
				    <div class="s2"><h1>Регистрация</h1></div>
				    <div class="s3"><h1>Профиль</h1></div>
				  </div>
				</div>
				
				<div class="slides-container">
				  <div class="slides" data-active="1">
				    <div class="s1">
				      
					    <div style="width: 400px; margin: 0 auto">
					      <form class="form-horizontal" role="form">
									<div class="form-group bordered">
										<label for="inputEmail3" class="col-xs-3 control-label">Ваш e-mail</label>
										<div class="col-xs-9">
											<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
										</div>
									</div>
									<div class="form-group bordered">
									<label for="inputPassword1" class="col-xs-3 control-label">Пароль</label>
										<div class="col-xs-9">
											<input type="password" class="form-control" id="inputPassword1" placeholder="Password">
											<a href="#" data-id="inputPassword1" class="icon icon_form-eye mini-visible js-psw-type-changer"></a>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-offset-3 col-xs-9">
											<div class="checkbox">
												<label>
													<input type="checkbox" checked ><i></i> Запомнить меня
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-12">
											<button type="submit" class="btn btn-primary col-xs-3">Войти</button>
										</div>
									</div>
								</form>
					    </div>
				      
				    </div>
				    <div class="s2">
					    
					    <div style="width: 400px; margin: 0 auto">
					    <form class="form-horizontal" role="form">
							<div class="form-group bordered">
								<label for="inputEmail3" class="col-xs-3 control-label">Ваш e-mail</label>
								<div class="col-xs-9">
									<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
								</div>
							</div>
							<div class="form-group bordered">
							<label for="inputPassword2" class="col-xs-3 control-label">Пароль</label>
								<div class="col-xs-9">
									<input type="password" class="form-control" id="inputPassword2" placeholder="Password">
									<a href="#" data-id="inputPassword2" class="icon icon_form-eye mini-visible js-psw-type-changer"></a>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<p class="license">Перед использованием ознакомьтесь <br> с <a href="#">лицензионным соглашением</a></p>
									<div class="checkbox">
										<label>
											<input type="checkbox"><i></i> Я прочел и согласен с лицензионным соглашением
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<button type="submit" class="btn btn-primary col-xs-3">Далее</button>
								</div>
							</div>
					    </form>
					    </div>
					    
					    
				    </div>
				    <div class="s3">
					    
					    
					    <div class="b-main__container b-main__container_centered b-main__container_spacer">

							<label data-toggle="tooltip" data-placement="top" title="Загрузить" for="loadImg" class="b-round b-round_220 b-round_step user-icon default big"></label>
					
							<span class="btn-load">
								<input id="loadImg" type="file" class="btn-load__file">
								<input type="button" value="Загрузить" class="btn btn-default btn-xs">
							</span>
					
							<div class="b-page-line input-group transperent col-xs-10 b-company__name">
								<label class="input-group-addon bd0" for="comp_name"><i class="icon icon_pen_h1 icon_pen mini-edit"></i></label>
								<input id="comp_name" type="text" class="form-control bd0" placeholder="Ваше имя">
							</div>
					    </div>

					    
				    </div>
				  </div>
				</div>

				</div>
	
		</div>