<div class="container-fluid">
    <p>&nbsp;</p>
    
    <media src="/img/avatar-no.png" size="70" class="preview-uploaded company">
      <media-body title="{{company.fullName}}">
        <p>
          <span class="label label-success" ng-if="company.stat=='approved'">Одобрен</span>
          <span class="label label-danger" ng-if="company.stat=='closed'">Заблокирован</span>  
          <span class="label label-info" ng-if="company.stat=='working'">Действующий</span>
          <span class="label label-success" ng-if="company.stat=='new'">Новый</span> 
        </p>
      </media-body>
    </media>
    
</div>

<hr>

<div class="container-fluid">
  <div class="row">  
    <div class="col-xs-4 col-sm-4">
      <p>&nbsp;</p>
      <label for="loadImg" class="center"><avatar src="/img/avatar-no.png" size="180" class="preview-uploaded company"></label>
      <span class="btn-load">
        <input id="loadImg" class="hide" preview-uploaded type="file">
      </span>
    </div>
    <div class="col-xs-8 col-sm-8">
      <h3>Картинка компании <small>Загрузите фото</small></h3>
      <p><small>Аватарка будет хорошего качества если закаченное изображение размером не менее 500x500 пикселей</small></p>

      <label for="loadImg" class="btn btn-primary">Загрузить</label>
    </div>  
  </div>

</div>
<div class="container-fluid">

  <h3 class="col-sm-7 col-sm-offset-4">О компании <small>Общая информация</small><br><br></h3>


  <form class="form-horizontal" role="form">    

    <div class="form-group">
      <label for="input_textname2" class="col-sm-4 control-label">Имя в системе</label>
      <div class="col-sm-7">
          <input type="text" class="form-control" id="input_textname2" placeholder="Новая компания" ng-model="company.name">
      </div>
    </div>
    <div class="form-group">
      <label for="input_textshortName3" class="col-sm-4 control-label">Короткое название</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="input_textshortName3" placeholder="Название, которое будет использоваться в url" ng-model="company.shortName">
        </div>
    </div>
    <div class="form-group">
      <label for="input_textfullName4" class="col-sm-4 control-label">Полное наименование</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="input_textfullName4" ng-model="company.fullName">
        </div>
    </div>           
    <div class="form-group">
      <label for="input_textareaofficialAddress5" class="col-sm-4 control-label">Юридический адрес</label>
      <div class="col-sm-7">
          <textarea type="textarea" class="form-control" id="input_textareaofficialAddress5" ng-model="company.officialAddress"></textarea>
      </div>
    </div>            
    <div class="form-group">
      <label for="input_textarearealAddress6" class="col-sm-4 control-label">Физический адрес</label>
      <div class="col-sm-7">
          <textarea type="textarea" class="form-control" id="input_textarearealAddress6" ng-model="company.realAddress"></textarea>
      </div>
    </div>     
    <div class="form-group">
      <label for="input_textinn7" class="col-sm-4 control-label">ИНН</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textinn7" ng-model="company.inn">
      </div>
    </div>           
    <div class="form-group">
      <label for="input_textkpp8" class="col-sm-4 control-label">КПП</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textkpp8" plugin-mask="999999999" ng-model="company.kpp">
      </div>
    </div>
    <div class="form-group">
      <label for="input_textogrn9" class="col-sm-4 control-label">ОГРН</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textogrn9" plugin-mask="9999999999999" ng-model="company.ogrn">
      </div>
    </div>          
    <div class="form-group">
      <label for="input_textbill10" class="col-sm-4 control-label">Расчетный счет р/с</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textbill10" ng-model="company.bill">
      </div>
    </div>
    <div class="form-group">
      <label for="input_textbank11" class="col-sm-4 control-label">Наименование банка</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textbank11" ng-model="company.bank">
      </div>
    </div>
    <div class="form-group">
      <label for="input_textbik12" class="col-sm-4 control-label">БИК</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textbik12" ng-model="company.bik">
      </div>
    </div>
    <div class="form-group">
      <label for="input_textcorrespondenAccout13" class="col-sm-4 control-label">к/c</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="input_textcorrespondenAccout13" ng-model="company.correspondenAccout">
      </div>
    </div>

    <div class="form-group">
      <label for="input_emailemail14" class="col-sm-4 control-label">Контактный email</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" id="input_emailemail14" ng-model="company.email">
      </div>
    </div>

    <div class="form-group">
      <label for="input_phonephone15" class="col-sm-4 control-label">Телефон</label>
      <div class="col-sm-7">
        <input type="phone" class="form-control" id="input_phonephone15" plugin-mask="[+]9 (999) 999-99-99" ng-model="company.phone">
      </div>
    </div>

  </form>
  
</div>


<hr>






<!-- Модальный диалог удаления компании -->
<div class="modal fade" id="AlertDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Удаление компании</h4>
      </div>
      <div class="modal-body">
        Вы уверены что хотите удалить компанию <br><strong>&laquo;{{company.fullName}}&raquo;?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="remove_company()">Удалить</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Я передумал</button>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="pull-right">
    <button class="btn btn-primary btn-sm" ng-click="save_company()">Сохранить</button>
    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#AlertDelete">Удалить компанию</button>
  </div>
</div>
		
