<form onsubmit="return false">
<div class="container-fluid" id="CreateCompany">
  <div class="row">

    <h2 style="text-align: center">{{company.fullName}}&nbsp;</h2>
    
    <div style="width: 260px; margin-top: 20px; text-align: center;" class="center-block">
      <label for="loadImg" class="center"><avatar src="/img/avatar-no.png" class="company preview-uploaded" size="260"></avatar></label>
      <input id="loadImg" class="hide" type="file" preview-uploaded>
      <label for="loadImg" class="btn btn-default">Загрузить</label>
      
      <p><small>Аватарка будет хорошего качества если закаченное изображение размером не менее 500x500 пикселей</small></p>
    </div>

    <div class="input-group center-block" style="margin-top: 60px; width: 75%">
      <div class="input-group-addon"><i class="icon mini-edit"></i></div>
      <input type="text" class="form-control input-lg" ng-model="company.fullName" required placeholder="Название компании">
      
    </div>  

    
    <div class="center-block" style="margin-top: 20px; width: 50%; text-align: center">
      <button class="btn btn-primary" ng-click="add_company()">Создать компанию</button>
    </div>
      
  </div>
</div>

</form>