<form onsubmit="return false">
<div class="container-fluid" id="CreateProject">
  <div class="row">

    <h2 style="text-align: center">{{project.title}}&nbsp;</h2>
    
    <div style="width: 260px; margin-top: 0px; text-align: center" class="center-block">
      <label for="loadImg" class="center"><avatar src="/img/avatar-no.png" class="project preview-uploaded" size="260"></avatar></label>
      <input id="loadImg" class="hide" type="file" preview-uploaded>
      <label for="loadImg" class="btn btn-default">Загрузить</label>
      
      <p><small>Аватарка будет хорошего качества если закаченное изображение размером не менее 500x500 пикселей</small></p>
    </div>

    <div class="input-group center-block" style="margin-top: 20px; width: 75%">
      <div class="input-group-addon"><i class="icon mini-edit"></i></div>
      <input type="text" class="form-control input-lg" placeholder="Название проекта" required ng-model="project.title">
    </div>

		
    <section id="ListCompany"> 
      
      <header class="col-sm-12">
        <h3>Выберите компанию:</h3>
        <p><small>Выберите компанию задействованную в проекте. Вы можете сделать это позже, зайдя в настройки проекта</small></p>
        <p>&nbsp;</p>
      </header>

      <div class="col-xs-6 col-sm-3">
        <label for="company1">
          <input type="radio" id="company1" name="company">
          <avatar src="/avatars/building.jpg" class="company" size="160"></avatar>
          <div>Бумстартер</div>
        </label>
      </div>
      <div class="col-xs-6 col-sm-3">
        <label for="company2">
          <input type="radio" id="company2" name="company">
          <avatar src="/avatars/building.jpg" class="company" size="160"></avatar>
          <div>ООО «Создание сайтов бесплатно»</div>
        </label>
      </div>
      <div class="col-xs-6 col-sm-3">
        <label for="company3">
          <input type="radio" id="company3" name="company">
          <avatar src="/avatars/building.jpg" class="company" size="160"></avatar>
          <div>Эппл Айфонинг</div>
        </label>
      </div>
      <div class="col-xs-6 col-sm-3">
        <label for="company4">
          <input type="radio" id="company4" name="company">
          <avatar src="/avatars/building.jpg" class="company" size="160"></avatar>
          <div>Выбрать позже</div>
        </label>
      </div>              
    </section> 
    
  </div>
</div>

<hr>
	
<div class="container-fluid">
  <div class="pull-right">
    <button class="btn btn-primary btn-sm">Далее</button>
  </div>
</div>

</form>