<div class="bg-container ng-class: !sidebar?'no-sidebar':'';">
  <nav ng-if="!navhide" ng-include="'app/sidebars/navbar.html'"></nav>
  <input type="checkbox" id="open-aside" class="open-aside" ng-if="sidebar">
  <aside ng-if="sidebar">
    <div class="bg-aside" ng-include="sidebar"></div>
  </aside>
  <article>
    <div class="bg-content" ng-include="template"></div>
  </article>
</div>
