<div class="b-side__container">

	<div class="b-main__container">
		<form action="#" method="post">
		<h1 class="b-main__title clearfix">Редактирование
			<a href="#" class="btn btn-primary btn-sm">Сохранить</a>
		</h1>
	

	
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-toggle="tab" data-target="#phonesList">Список</a></li>
			<li><a href="" data-toggle="tab" data-target="#phonesImport">Импорт</a></li>
		</ul>


		<div class="tab-content">
			<div id="phonesImport" class="tab-pane fade">

				<h3>Импорт данных <small>Загрузите данные в формате CSV <a href="" data-toggle="modal" data-target="#myModal">Скачать образец</a></small>
				</h3>


				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
		      </div>
		    </div>
		  </div>
		</div>
				
				<div class="form-inline" id="FormPopup">
	            <div>
	                <label for="theFileCSV" class="js-img-prop">
	                    <input type="hidden" name="id" value="467420e707b3e24b5b0ea17c680272b3">
	                    <input type="file" name="file" id="theFileCSV" style="opacity: 0; position: absolute;">
	                    <input type="button" class="btn btn-default btn-sm" value="Загрузить файл">
	                </label>
	            </div>
	            
	            <div class="scroll-table">
		            <table class="table select-col">
	            	<thead>
	            		<tr>
	            			<td>
		            			<div class="btn-group">
									<button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">Колонка имени <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="">Колонка имени</a></li>
										<li><a href="">Колонка телефона</a></li>
										<li><a href="">Колонка e-mail</a></li>
									</ul>
								</div>
	            			</td>
	            			<td>
		            			<div class="btn-group">
									<button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">Колонка телефона <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="">Колонка имени</a></li>
										<li><a href="">Колонка телефона</a></li>
										<li><a href="">Колонка e-mail</a></li>
									</ul>
								</div>
	            			</td>
	            			<td>
		            			<div class="btn-group">
									<button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">Колонка e-mail <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="">Колонка имени</a></li>
										<li><a href="">Колонка телефона</a></li>
										<li><a href="">Колонка e-mail</a></li>
									</ul>
								</div>
	            			</td>
	            			<td>
		            			<div class="btn-group">
									<button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">Выберите тип: <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="">Колонка имени</a></li>
										<li><a href="">Колонка телефона</a></li>
										<li><a href="">Колонка e-mail</a></li>
									</ul>
								</div>
	            			</td>
	            		</tr>
	            	</thead>
	            	<tbody>
						<tr ng-repeat="data in phonelists[0].datas">
							<td><p class="editable"><input type="text" ng-model="data.phone" class="form-control"></p></td>
							<td><p class="editable"><input type="text" ng-model="data.name" class="form-control"></p></td>
							<td><p class="editable"><input type="text" ng-model="data.email" class="form-control"></p></td>
							<td><p class="editable"><input type="text" ng-model="data.other" class="form-control"></p></td>
	
						</tr>
	            	</tbody>
	            </table>
	            </div>
	        </div>
				
				
			</div>
			
			<div id="phonesList" class="tab-pane fade in active">
				
				<h2 class="editable"><input type="text" ng-model="phonelists[0].name" class="form-control input-lg"></h2>
			
				<h3>Данные
			<small>Редактирование списка телефонов</small>
		</h3>
				
				<div class="controls row">
		
			<div class="col-sm-6">
				<div class="input-group input-group-sm">
					<input type="search" class="form-control input-sm" placeholder="Поиск по списку" ng-model="search">
					 <span class="input-group-addon"><i class="icon mini-search"></i></span>
				</div>
			</div>
	
			<div class="btn-group col-sm-6">
			  <div class="pull-right">
				  <button class="btn btn-link btn-sm dropdown-toggle" type="button">Обновить из CSV</button>
				  <button class="btn btn-link btn-sm dropdown-toggle" type="button">Скачать в CSV</button>
			  </div>
			</div>
		</div>
		        <div class="scroll-table">
		<table class="table">
			<thead>
				<tr>
					<th>Телефон</th>
					<th>Имя</th>
					<th>Почта</th>
					<th>Дата рождения</th>
					<th>...</th>
				</tr>
			</thead>			
			<tbody>
					<tr ng-repeat="data in phonelists[0].datas | filter:search | orderBy:'name'">
						<td><p class="editable"><input type="text" ng-model="data.phone" class="form-control"></p></td>
						<td><p class="editable"><input type="text" ng-model="data.name" class="form-control"></p></td>
						<td><p class="editable"><input type="text" ng-model="data.email" class="form-control"></p></td>
						<td><p class="editable"><input type="text" ng-model="data.birthdate" class="form-control"></p></td>						
						<td><p class="editable"><input type="text" ng-model="data.other" class="form-control"></p></td>

					</tr>
            </tbody>
		</table>
        </div>
			</div>
		</div>
		

		
		<h1 class="b-main__title clearfix">
			<a href="#" class="btn btn-primary btn-sm">Сохранить</a>
		</h1>
		</form>
	</div>
</div>