<div class="container-fluid">
    <p>&nbsp;</p>
    
    <media src="/img/avatar-no.png" size="70" class="preview-uploaded profile">
      <media-body title="{{user.firstname}}">
        <p>{{user.nickname}}</p> 
      </media-body>
    </media>

</div>

<p>&nbsp;</p>


<ul class="nav nav-tabs">
  <li class="active"><a href="" data-toggle="tab" data-target="#userInfo"><i class="icon icon_sidebar mini-folder"></i> Информация</a></li>
  <li><a href="" data-toggle="tab" data-target="#userSettings"><i class="icon icon_sidebar mini-config"></i> Настройки</a></li>
</ul>
    

<div class="tab-content">
  <div class="tab-pane fade in active" id="userInfo">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-lg-2">
          <p>&nbsp;</p>
          <label for="loadImg"><avatar src="/img/avatar-no.png" size="180" class="preview-uploaded profile"></label>
          <span class="btn-load">
            <input id="loadImg" class="hide" preview-uploaded type="file">
          </span>
        </div>

        <div class="col-xs-8 col-sm-9 col-lg-9">
          <h3>Аватарка <small>Загрузите фото</small></h3>
          <p><small>Аватарка будет хорошего качества если закаченное изображение размером не менее 500x500 пикселей</small></p>
          <label for="loadImg" class="btn btn-primary">Загрузить</label>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="container-fluid">
      <h3 class="col-sm-7 col-sm-offset-4">Обо мне <small>Общая информация</small><br><br></h3>

      <div class="form-horizontal" role="form">
        <div class="form-group bordered">
          <label for="inputNickname" class="col-sm-4 control-label">Ник</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputNickname" ng-model="user.nickname">
          </div>
        </div>
        <div class="form-group bordered">
          <label for="inputLName" class="col-sm-4 control-label">Фамилия</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputLName" ng-model="user.lastname">
          </div>
        </div>
        <div class="form-group bordered">
          <label for="inputFName" class="col-sm-4 control-label">Имя</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputFName" ng-model="user.firstname">
          </div>
        </div>
        <div class="form-group bordered">
          <label for="inputEmail" class="col-sm-4 control-label">e-Mail</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputEmail" ng-model="user.email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhone" class="col-sm-4 control-label">Телефон</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="inputPhone" ng-model="user.phone">
          </div>
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button class="btn btn-primary btn-sm" ng-click="save_user()">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
    
  </div><!-- /#formInfo -->
  
  

    
  <div class="tab-pane fade" id="userSettings">
    
    <div class="container-fluid">
      <h2>Документы <small>Личные данные</small></h2>

      <div class="form-horizontal" role="form">
        <div class="form-group bordered">
          <label for="inputNickname" class="col-sm-3 control-label">Ник</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputNickname" ng-model="user.nickname">
          </div>
        </div>
        <div class="form-group bordered">
          <label for="inputLName" class="col-sm-3 control-label">Фамилия</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputLName" ng-model="user.lastname">
          </div>
        </div>
        <div class="form-group bordered">
          <label for="inputFName" class="col-sm-3 control-label">Имя</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputFName" ng-model="user.firstname">
          </div>
        </div>
        <div class="form-group bordered">
          <label for="inputEmail" class="col-sm-3 control-label">e-Mail</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail" ng-model="user.email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhone" class="col-sm-3 control-label">Телефон</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPhone">
          </div>
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button class="btn btn-primary btn-sm" ng-click="save_user()">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
    
  </div><!-- /#formPrivate -->
</div>
</div>



