<div class="container-fluid">
    <p>&nbsp;</p>
    
    <media src="/img/avatar-no.png" size="70" class="preview-uploaded project">
      <media-body title="{{project.title}}">
        <p>
          <span class="label label-success" ng-if="project.stat=='approved'">Одобрен</span>
          <span class="label label-danger" ng-if="project.stat=='closed'">Заблокирован</span>
          <span><small><i class="icon mini-datetime"></i> 28 января 2014 - 28 января 2014</small></span> 
        </p> 
      </media-body>
    </media>

</div>

<p>&nbsp;</p>
		
<div class="tab-content">
					
  <div class="tab-pane fade in active" id="projectSettings">	
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="" data-toggle="tab" data-target="#projectAbout">О проекте</a></li>
        <li><a href="" data-toggle="tab" data-target="#projectConfig">Настройки</a></li>
        <li><a href="" data-toggle="tab" data-target="#projectSMS">SMS Рассылки</a></li>
        <li><a href="" data-toggle="tab" data-target="#projectAnalitics">Аналитика</a></li>
        <li><a href="" data-toggle="tab" data-target="#projectSMSTariffs">Тарифы</a></li>
      </ul>

						
    <div class="tab-content">
      <div class="tab-pane fade in active" id="projectAbout">
        <div class="container-fluid">
          
          <h3>Баланс проекта</h3>
          
          <table class="table">
            <thead>
            <tr>
                <th class="center">Баланс</th>
                <th class="center">Цена сегмента смс</th>
                <th class="center">Отослано смс</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="center"><b>10 рублей</b></td>
                <td class="center"><b>60 копеек</b></td>
                <td class="center">0</td>
            </tr>
            </tbody>
          </table>
          
        </div>
        <hr>
        <div class="container-fluid">
          
          <h3>Пополнить баланс <small>Выберите пакет</small></h3>
          
          <table class="table">
            <thead>
              <tr>
                <td style="width: 20%">&nbsp;</td>
                <th>&nbsp;</th>
                <th>Сообщений</th>
                <th>Стоимость</th>
                <td style="width: 20%">&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td align="center"><input type="radio" name="package" plugin-check></td>
                <td>500 сообщений</td>
                <td>300 рублей</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>                
                <td align="center"><input type="radio" name="package" plugin-check></td>
                <td>1000 сообщений</td>
                <td>600 рублей</td>
                <td>&nbsp;</td>
              </tr>              
            </tbody>
          </table>
          
        </div>
      </div>
      <div class="tab-pane fade" id="projectConfig">
        <div class="container-fluid">
          <div class="row">  
            <div class="col-sm-4">
              <p>&nbsp;</p>
              <label for="loadImg" class="center"><avatar src="/img/avatar-no.png" size="180" class="preview-uploaded project"></label>
              <span class="btn-load">
                <input id="loadImg" class="hide" preview-uploaded type="file">
              </span>
            </div>
            <div class="col-sm-7">
              <h3>Картинка проекта <small>Загрузите фото</small></h3>
              <p><small>Аватарка будет хорошего качества если закаченное изображение размером не менее 500x500 пикселей</small></p>

              <label for="loadImg" class="btn btn-primary">Загрузить</label>
            </div>  
          </div>
          
        </div>
        <div class="container-fluid">
          
          <h3 class="col-sm-7 col-sm-offset-4">О проекте <small>Общая информация</small><br><br></h3>
          

          <div class="form-horizontal" role="form">
            <div class="form-group bordered">
              <label for="inputNickname" class="col-sm-4 control-label">Короткое название</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputNickname" ng-model="project.name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputLName" class="col-sm-4 control-label">Полное название</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputLName" ng-model="project.title">
              </div>
            </div>

          </div>
        </div>
    </div>
										
    <div class="tab-pane fade" id="projectSMS">
      <div class="container-fluid">
        <div class="row">
          <h3 class="col-sm-12">SMS Сервис<br><br></h3>
									
          <div class="form-horizontal" role="form">
            <div class="form-group bordered">
              <label for="inputName" class="col-sm-3 control-label">Короткое название</label>
              <div class="col-sm-7"><input type="text" class="form-control" id="inputName" ng-model="smslists[0].name"></div>
            </div>
            <div class="form-group bordered">
              <label for="inputTitle" class="col-sm-3 control-label">Полное название</label>
              <div class="col-sm-7"><input type="text" class="form-control" id="inputTitle" ng-model="smslists[0].title"></div>
            </div>
              <div class="form-group bordered">
              <label for="inputURI" class="col-sm-3 control-label">URI обработчика</label>
              <div class="col-sm-7"><input type="text" class="form-control" id="inputURI" ng-model="smslists[0].url"></div>
            </div>
            <div class="form-group bordered">
              <label for="inputSKey" class="col-sm-3 control-label">Секретный ключ <span plugin-tooltip class="badge help" data-toggle="tooltip" data-placement="bottom" title="Секретный ключ используется для того-то и того то">?</span></label>
                <div class="col-sm-7">
                <input type="text" class="form-control" id="inputSKey" ng-model="smslists[0].skey">
              </div>
            </div>
            <div class="form-group bordered">
              <label for="inputCharset1" class="col-sm-3 control-label">Кодировка ответа</label>
              <div class="col-sm-7">
                
                <div class="radio">
                  <label>
                    <input type="radio" id="inputCharset1" plugin-check name="charset" checked /> CP 1251 
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" id="inputCharset2" plugin-check name="charset" /> UTF-8
                  </label>
                </div>
                
              </div>
            </div>
          </div><!-- /form  -->
        </div><!-- /.row -->
      </div><!-- /.container_fluid -->
    </div><!-- /.tab-pane -->
    <div class="tab-pane fade" id="projectAnalitics">
      <div class="container-fluid">
								<div class="row">
									<h3 class="col-sm-4">Аналитика</h3>
									
									<div class="col-sm-8 pull-right">
										
										<p>
										<ul class="nav nav-pills">
											<li><a href="" data-toggle="collapse" data-target="#filterTiming">Выборка по времени</a></li>
											<li><a href="">Общие параметры</a></li>
											<li><a href="" data-toggle="collapse" data-target="#filterStatus">Статус</a></li>
										</ul>
										</p>

									</div>
									
									<div id="filterTiming" class="collapse">
										<h4 class="col-sm-12">Выборка по времени</h4>
										<div class="col-sm-6">
											<div class="input-group input-group-sm">
												  <input type="text" plugin-datepicker class="form-control" value="01.12.2014">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-group input-group-sm">
												  <input type="text" plugin-datepicker class="form-control" value="15.05.2014">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
											</div>
										</div>
	
										<div class="col-sm-12" style="margin-top: 10px; margin-bottom: 20px;">
											<p class="small">Выбрать: 
												<a href="">за сегодня</a>, 
												<a href="">вчера</a>, 
												<a href="">эту неделю</a>, 
												<a href="">прошлую неделю</a>, 
												<a href="">за 30 дней</a>
											</p>
										</div>
									</div>
									
									<div id="filterStatus" class="collapse">
										<h4 class="col-sm-12">Выборка по статусу</h4>
										<div class="col-sm-12 tag-list">
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">ок</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">неправильный ответ сервиса</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">таймаут</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">неправильный HTTP код</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">ошибка запроса</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">не найдены входящие цены</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">не найдены цены</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">фрод</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">блэклист</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">запрещенный префикс</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">сервис заблокирован</button>
											<button class="btn btn-default btn-xs btn-info" data-toggle="button">партнер заблокирован</button>									
										</div>
									</div>
									
									
											
									<div class="col-sm-12">
										
										<table class="table">
											<thead>
												<tr>
													<th>#</th>
													<th>.</th>
													<th>.</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>.</td>
													<td>.</td>
												</tr>
												<tr>
													<td>2</td>
													<td>.</td>
													<td>.</td>
												</tr>
												<tr>
													<td>3</td>
													<td>.</td>
													<td>.</td>
												</tr>
												<tr>
													<td>4</td>
													<td>.</td>
													<td>.</td>
												</tr>
											</tbody>
										</table>
									</div>
									
								</div>
      </div>
    </div>
							<div class="tab-pane fade" id="projectSMSTariffs">
								<div class="row">
									<h3 class="col-sm-8">Тарифы на SMS рассылки</h3>
								
									<div class="col-sm-4">
										<div class="dropdown" style="margin-top: 20px;">
											<button id="dCountry" plugin-dropdown class="pull-right btn btn-default btn-xs" data-toggle="dropdown" data-target="selectCountry">Германия <span class="caret"></span></button>
											
											<ul class="dropdown-menu" role="menu" id="selectCountry" aria-labelledby="dCountry">
												<li><a role="menuitem" tabindex="-1">Германия</a></li>
												<li><a role="menuitem" tabindex="-1">Россия</a></li>
												<li><a role="menuitem" tabindex="-1">Узбекистан</a></li>
												<li><a role="menuitem" tabindex="-1">Украина</a></li>
											</ul>
										</div>
									</div>
								</div>
								
								
								
								<table class="table">
								  <thead>
								  	<tr>
								  		<th>Оператор</th>
								  		<th>Цена для абонента</th>
								  		<th>Цена для абонента (в руб.)</th>
										<th>Доход партнера (в руб.)</th>
										<th>%</th>
								  	</tr>
								  </thead>
								  <tbody>
								  	<tr>
								  		<td>E-Plus</td>
								  		<td>2.99 EUR</td>
								  		<td>147.10</td>
								  		<td>44.03</td>
								  		<td>29.93</td>
								  	</tr>
								  	<tr>
								  		<td>T-Mobile</td>
								  		<td>2.99 EUR</td>
								  		<td>147.10</td>
								  		<td>44.34</td>
								  		<td>30.14</td>
								  	</tr>
								  	<tr>
								  		<td>Vodafone</td>
										<td>2.99 EUR</td>
										<td>147.10</td>
										<td>46.33</td>
										<td>31.50</td>
								  	</tr>
								  	<tr>
									  	<td>O2</td>
										<td>2.99 EUR</td>
										<td>147.10</td>
										<td>48.93</td>
										<td>33.27</td>
								  	</tr>
								  </tbody>
								</table>

							</div>
						</div>
					</div>

					
					<div class="tab-pane fade" id="projectStat">
						
						<h3>Статистика</h3>

						<table class="table">
							<thead>
								<tr>
									<th>Баланс</th>
									<th>Отослано СМС</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>10</td>
									<td>2</td>
								</tr>
								<tr>
									<td>10&nbsp;000</td>
									<td>1&nbsp;203</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="projectMembers">
						
						<h3>Участники</h3>
						
						<div class="media">
							<a href="" avatar-small class="pull-left"></a>
							<div class="media-body">
								<h6>Андрей <small>Бухгалтерия</small></h6>
								<div class="tags">
									<span class="label label-default">Управление</span>
								</div>
							</div>
						</div>
						
						<div class="media">
							<a href="" avatar-small class="pull-left"></a>
							<div class="media-body">
								<h6>Иванов Сергей <small>Управляющий проектом</small></h6>
								<div class="tags">
									<span class="label label-default">Управление</span>
									<span class="label label-default">Бухгалтерия</span>
								</div>
							</div>
						</div>
						
						<div class="media">
							<a href="" avatar-small class="pull-left"></a>
							<div class="media-body">
								<h6>Ляпис Трубецкой</h6>
								<div class="tags">
									<span class="label label-default">Эквайринг</span>
									<span class="label label-default">Финансы</span>
								</div>
							</div>
						</div>						
						
					</div>
					<div class="tab-pane fade" id="projectMaillist">
					
						<h3>Создание рассылки</h3>
						
						<div class="form-horizontal">
							<div class="form-group bordered">
							    <label for="inputSender" class="col-sm-3 control-label">Отправитель</label>
							    <div class="col-sm-9">
							      <select ng-options="phonelist.name for phonelist in all.phonelists" plugin-chosen="{width: '100%'}" data-placeholder="+ Добавить список" multiple>
								      <option></option>
							      </select>
							    </div>
							</div>
							<div class="form-group bordered">
							    <label for="inputTo" class="col-sm-3 control-label">Кому</label>
							    <div class="col-sm-9">
							      
							      <select ng-options="phonelist.name for phonelist in all.phonelists" plugin-chosen="{width: '100%'}" data-placeholder="+ Добавить список" multiple>
								      <option></option>
								      <option>one</option>
								      <option>two</option>
							      </select>
						          
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="input_textareatext2" class="col-sm-3 control-label">Текст сообщения <span class="label label-default">1/250</span></label>
							    <div class="col-sm-9">
								    <textarea class="form-control" plugin-autosize id="input_textareatext2" style="height: 100px"></textarea>
							    </div>
							  </div>
							</div>
						</div>

					
</div>

<hr>


<div class="modal fade" id="AlertDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Удаление проекта</h4>
      </div>
      <div class="modal-body">
        Вы уверены что хотите удалить проект <strong>&laquo;{{project.title}}&raquo;?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Удалить</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отменить</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="pull-right">
    <button class="btn btn-primary btn-sm">Сохранить</button>
    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#AlertDelete">Удалить проект</button>
  </div>
</div>
		
		
		
		
		
		
		