		<div class="b-side__container">

			<div class="b-main__container">
				
				<h2 class="editable"><input type="text" ng-model="smslists[0].title" class="form-control input-lg"></h2>

				<ul class="inline">
					<li><span class="label label-danger">Заблокирован</span></li>
					<li title="28 января 2014 в 15:04"><span class="label label-info"><i class="icon mini-datetime"></i> 28 января 2014 - 28 января 2014</span></li>
				</ul>
				
				<hr>
				
				<div class="tab-content">
					<div class="tab-pane fade in active" id="projectAbout">
						
						<h3>Сервис <small>Общая информация</small></h3>
						
						
						<div class="form-horizontal" role="form">
						  <div class="form-group bordered">
						    <label for="inputName" class="col-sm-3 control-label">Короткое название</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputName" ng-model="smslists[0].name">
						    </div>
						  </div>
						  <div class="form-group bordered">
						    <label for="inputTitle" class="col-sm-3 control-label">Полное название</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputTitle" ng-model="smslists[0].title">
						    </div>
						  </div>
  						  <div class="form-group bordered">
						    <label for="inputURI" class="col-sm-3 control-label">URI обработчика</label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputURI" ng-model="smslists[0].url">
						    </div>
						  </div>
						  <div class="form-group bordered">
						    <label for="inputSKey" class="col-sm-3 control-label">Секретный ключ <span plugin-tooltip class="badge help" data-toggle="tooltip" data-placement="bottom" title="Секретный ключ используется для того-то и того то">?</span></label>
						      <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputSKey" ng-model="smslists[0].skey">
						    </div>
						  </div>
  						  <div class="form-group bordered">
						    <label for="inputCharset1" class="col-sm-3 control-label">Кодировка ответа</label>
						    <div class="col-sm-9">
						    	<div class="radio">
							    	<label>
								    	<input type="radio" id="inputCharset1" name="charset" checked /> CP 1251 
							    	</label>
							    </div>
						    	<div class="radio">
						    		<label>
								    	<input type="radio" id="inputCharset2" name="charset" /> UTF-8
							    	</label>
						    	</div>
						    </div>
						  </div>
						  
						</div>
						
					</div>
					<div class="tab-pane fade" id="projectStat">
						
						<h3>Статистика</h3>

						<table class="table">
							<thead>
								<tr>
									<th>Баланс</th>
									<th>Отослано СМС</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>10</td>
									<td>2</td>
								</tr>
								<tr>
									<td>10&nbsp;000</td>
									<td>1&nbsp;203</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="projectMembers">
						
						<h3>Участники</h3>
						
						<div class="media">
							<a href="" avatar-small class="pull-left"></a>
							<div class="media-body">
								<h6>Андрей <small>Бухгалтерия</small></h6>
								<div class="tags">
									<span class="label label-default">Управление</span>
								</div>
							</div>
						</div>
						
						<div class="media">
							<a href="" avatar-small class="pull-left"></a>
							<div class="media-body">
								<h6>Иванов Сергей <small>Управляющий проектом</small></h6>
								<div class="tags">
									<span class="label label-default">Управление</span>
									<span class="label label-default">Бухгалтерия</span>
								</div>
							</div>
						</div>
						
						<div class="media">
							<a href="" avatar-small class="pull-left"></a>
							<div class="media-body">
								<h6>Ляпис Трубецкой</h6>
								<div class="tags">
									<span class="label label-default">Эквайринг</span>
									<span class="label label-default">Финансы</span>
								</div>
							</div>
						</div>						
						
					</div>
					<div class="tab-pane fade" id="projectMaillist">
					
						<h3>Создание рассылки</h3>
						
						<div class="form-horizontal">
							<div class="form-group bordered">
							    <label for="inputSender" class="col-sm-3 control-label">Отправитель</label>
							    <div class="col-sm-9">
							      <select ng-options="phonelist.name for phonelist in all.phonelists" plugin-chosen="{width: '100%'}" data-placeholder="+ Добавить список" multiple>
								      <option></option>
							      </select>
							    </div>
							</div>
							<div class="form-group bordered">
							    <label for="inputTo" class="col-sm-3 control-label">Кому</label>
							    <div class="col-sm-9">
							      <select ng-options="phonelist.name for phonelist in all.phonelists" plugin-chosen="{width: '100%'}" data-placeholder="+ Добавить список" multiple>
								      <option></option>
								      <option>one</option>
								      <option>two</option>
							      </select>
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="input_textareatext2" class="col-sm-3 control-label">Текст сообщения <span class="label label-default">1/250</span></label>
							    <div class="col-sm-9">
								    <textarea class="form-control" plugin-autosize id="input_textareatext2" style="height: 100px"></textarea>
							    </div>
							  </div>
							</div>
						</div>
				</div>


			</div>
		</div>
		
		
		
		
		
		
		
		
		