		<div class="b-side__container">

			<div class="b-main__container">
				
				<h2>Тарифы</h2>

				<table class="table">
				  <thead>
				  	<tr>
				  		<th>Оператор</th>
				  		<th>Цена для абонента</th>
				  		<th>Цена для абонента (в руб.)</th>
						<th>Доход партнера (в руб.)</th>
						<th>%</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<td>E-Plus</td>
				  		<td>2.99 EUR</td>
				  		<td>147.10</td>
				  		<td>44.03</td>
				  		<td>29.93</td>
				  	</tr>
				  	<tr>
				  		<td>T-Mobile</td>
				  		<td>2.99 EUR</td>
				  		<td>147.10</td>
				  		<td>44.34</td>
				  		<td>30.14</td>
				  	</tr>
				  	<tr>
				  		<td>Vodafone</td>
						<td>2.99 EUR</td>
						<td>147.10</td>
						<td>46.33</td>
						<td>31.50</td>
				  	</tr>
				  	<tr>
					  	<td>O2</td>
						<td>2.99 EUR</td>
						<td>147.10</td>
						<td>48.93</td>
						<td>33.27</td>
				  	</tr>
				  </tbody>
				</table>

			</div>
		</div>
		
		
		
		
		
		
		
		
		