
<div id="SidebarItems">

	<p class="b-side__list-title">Списки</p>

	<a href="" class="b-side__list-item"><i class="icon icon_sidebar mini-plus"></i> Добавить список</a>
	
	<div ng-repeat="phonelist in phonelists | orderBy:'short'">
		<a href="#/addressbook" class="b-side__list-item"><i class="icon icon_sidebar mini-folder"></i> {{phonelist.name}}</a>
	</div>

</div>
