<div class="input-group custom">
  <input type="search" class="form-control"><span class="input-group-addon"><i class="icon mini-search"></i></span>
</div>


<div id="SidebarItems">
	
	<p class="title">Документация</p>

	<nav class="nav nav-pills nav-stacked"> 
	    <li class="icon icon-sidebar mini-folder"><a href="" data-toggle="collapse" data-target="#doc-nav-1">Очень длинное название раздела документации для примера</a></li>
		<nav class="b-side__drawer nav nav-pills nav-stacked collapse" id="doc-nav-1">
			<li><a href="#getUserByHash"><i class="icon icon_sidebar mini-minus"></i> getUserByHash</a></li>
			<li><a href="#login"><i class="icon icon_sidebar mini-minus"></i> login</a></li>
			<li><a href="#register"><i class="icon icon_sidebar mini-minus"></i> register</a></li>
			<li><a href="#setData"><i class="icon icon_sidebar mini-minus"></i> setData</a></li>
		</nav>

		<li class="icon icon-sidebar mini-folder"><a href="" data-toggle="collapse" data-target="#doc-nav-2">Компании</a></li>
		<li class="icon icon-sidebar mini-folder"><a href="" data-toggle="collapse" data-target="#doc-nav-3">Проекты</a></li>
		<li class="icon icon-sidebar mini-folder"><a href="" data-toggle="collapse" data-target="#doc-nav-4">СМС</a></li>
		<li class="icon icon-sidebar mini-folder"><a href="" data-toggle="collapse" data-target="#doc-nav-5">Списки контактов</a></li>
		<li class="icon icon-sidebar mini-folder"><a href="" data-toggle="collapse" data-target="#doc-nav-6">Тестирование работы с апи</a></li>
	    	
		
	</nav>
</div>
