<div class="input-group">
  <input type="search" ng-model="searchCompanies" class="form-control"><span class="input-group-addon"><i class="icon mini-search"></i></span>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <a href="#/company/new" class="list-group-item"><i class="icon icon_sidebar mini-plus"></i> Добавить компанию</a></a>
    
    <nav class="nav nav-pills nav-stacked">
      <li ng-repeat="company in companies | orderBy:'fullName' | filter:searchCompanies" ng-class="company.$id == currentCompany ? 'active': ''">
        <a href="#/company/{{company.$id}}">
          <i class="icon icon_sidebar mini-folder-c"></i> {{company.fullName}}
        </a>
      </li>
    </nav>

  </div>
</div>

