<div class="nav-logo"></div>

<ul class="nav-bar">
  <li><a  ng-href="#/profile" class="icon-item"><i class="img" style="background-image: url(/avatars/user.jpg)"></i> <span>Профиль</span></a>
  <li><a  ng-href="#/projects" class="icon-item"><i class="big-project ico"></i>    <span>Проекты</span></a> <i class="bg-badge">2</i></li>
  <li><a href="#/statistic" class="icon-item"><i class="big-stat ico"></i>      <span>Статистика</span></a></li>
  <li><a href="#/payments" class="icon-item"><i class="big-wallet ico"></i>     <span>Платежи</span></a></li>
  <li><a href="#/companies" class="icon-item"><i class="big-company ico"></i>     <span>Компании</span></a></li>
  <li><a href="#/addressbook" class="icon-item"><i class="big-briefcase ico"></i> <span>Адреса</span></a></li>
  <li><a href="#/sms_service" class="icon-item"><i class="big-sms ico"></i> <span>Рассылки</span></a></li>
</ul>

<label class="open-aside-label" for="open-aside" ng-if="sidebar">
  <span class="icon-item"><i class="big-menu ico"></i></span>
</label>

<label class="open-help-label" for="open-help">
  <a href="#" class="icon-item"><i class="big-help ico"></i> <span>Помощь</span></a>
</label>


		