<!--media link="#/" src="/avatars/user.jpg" title="{{user.firstname}}" desc="{{user.nickname}}"></media-->


<ul class="list-group">
  <li class="list-group-item" data-toggle="tab" data-target="#formInfo"><i class="icon icon_sidebar mini-folder"></i> Информация</li>
  <li class="list-group-item"><i class="icon icon_sidebar mini-config"></i> Настройки</li>
  <li class="list-group-item"><i class="icon icon_sidebar mini-company"></i> Реквизиты</li>
  <li class="list-group-item" data-toggle="tab" data-target="#formPrivate"><i class="icon icon_sidebar mini-folder-p"></i> Документы</li>
</ul>

