<div class="input-group">
  <input type="search" ng-model="searchProjects" class="form-control"><span class="input-group-addon"><i class="icon mini-search"></i></span>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <a href="#/project/new" class="list-group-item"><i class="icon icon_sidebar mini-plus"></i> Добавить проект</a></a>
    
    <nav class="nav nav-pills nav-stacked">
      <li ng-repeat="project in projects | filter:searchProjects" ng-class="project.$id == currentProject ? 'active': ''">
        <a href="#/project/{{project.$id}}" data-toggle="collapse" data-target="#project-nav__{{project.name}}">
          <i class="icon icon_sidebar mini-folder-p"></i> {{project.title}}
        </a>
        
        <div class="panel panel-default stat-{{project.stat}}" id="project-nav__{{project.name}}" ng-class="project.$id != currentProject ? 'collapse': ''">
            
            <ul class="list-group">
              <a class="list-group-item active" href="" data-toggle="tab" data-target="#projectSettings"><i class="icon icon_sidebar mini-config"></i> Настройки</a>
              <a class="list-group-item" href="" data-toggle="tab" data-target="#projectStat"> <span class="badge">1</span><i class="icon icon_sidebar mini-stat"></i> Статистика</a>
              <a class="list-group-item" href="" data-toggle="tab" data-target="#projectMembers"><i class="icon icon_sidebar mini-company"></i> Участники</a>
              <a class="list-group-item" href="" data-toggle="tab" data-target="#projectMaillist"><i class="icon icon_sidebar mini-folder-p"></i> Рассылки</a>
            </ul>
            
        </div>
        
      </li>
    </nav>
      

  </div>
</div>


