<div class="input-group custom">
  <input type="search" class="form-control"><span class="input-group-addon"><i class="icon mini-search"></i></span>
</div>


<div id="SidebarItems">
	
	<p class="b-side__list-title">Рассылка SMS</p>


	<a ng-href="#/sms_service/tariffs" class="b-side__list-item" data-toggle="collapse" data-target="#sms-tariffs"><i class="icon icon_sidebar mini-stat"></i>  Тарифы</a>
	
		<div class="b-side__drawer collapse" id="sms-tariffs">
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectAbout"><i class="icon icon_sidebar flag flag-germany"></i> Германия</a>
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectAbout"><i class="icon icon_sidebar flag flag-russia"></i> Россия</a>
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectAbout"><i class="icon icon_sidebar flag flag-kazahstan"></i> Казахстан</a>
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectAbout"><i class="icon icon_sidebar flag flag-ukraine"></i> Украина</a>
			
		</div>
	
	
	<a ng-href="#/sms_service/" class="b-side__list-item"><i class="icon icon_sidebar icon-bull"></i>  Информация</a>
	<a ng-href="#/sms_service/" class="b-side__list-item"><i class="icon icon_sidebar icon-bull "></i>  Техподдержка</a>
	
	<p class="b-side__list-title">Сервисы</p>

	
	<a ng-href="#/sms_service/" class="b-side__list-item"><i class="icon icon_sidebar mini-plus"></i>  Добавить сервис</a>
	
	<div ng-repeat="sms in smslists | orderBy:'title'">
		<a ng-href="#/sms_service" class="b-side__list-item stat-{{sms.stat}}" data-toggle="collapse" data-target="#project-nav__{{sms.name}}"><i class="icon icon_sidebar mini-folder-c"></i> {{sms.title}}</a>
		
		<div class="b-side__drawer collapse stat-{{sms.stat}}" id="project-nav__{{sms.name}}">		
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectAbout"><i class="icon icon_sidebar mini-info"></i> О сервисе</a>
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectStat"><i class="icon icon_sidebar mini-stat"></i> Отчеты <i class="b-counter">4</i></a>
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectMembers"><i class="icon icon_sidebar mini-company"></i> Участники</a>
			<a href="" class="b-side__list-item" data-toggle="tab" data-target="#projectMaillist"><i class="icon icon_sidebar mini-folder-p"></i> Рассылки</a>
		</div>
	</div>
</div>
