//
// Alerts
// --------------------------------------------------



//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               @line-height-computed;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      400;

@alert-success-bg:            @brand-success;
@alert-success-text:          contrast( @brand-success, #000, #fff, 60% );
@alert-success-border:        darken(@brand-success, 5%);

@alert-info-bg:               @brand-info;
@alert-info-text:             contrast( @brand-info, #000, #fff, 60% );;
@alert-info-border:           darken(@brand-info, 5%);

@alert-warning-bg:            @brand-warning;
@alert-warning-text:          contrast( @brand-warning, #000, #fff, 60% );;
@alert-warning-border:        darken(@brand-warning, 5%);

@alert-danger-bg:             @brand-danger;
@alert-danger-text:           contrast( @brand-danger, #000, #fff, 60% );;
@alert-danger-border:         darken(@brand-danger, 5%);



// Base styles
// -------------------------

.alert {
  padding: @alert-padding;
  margin-bottom: @line-height-computed;
  border: 1px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: @alert-border-radius;
  .alert-link {
    font-weight: @alert-link-font-weight;
    display: inline-block;
    //border-bottom: 1px solid;
    
    padding: 0 .25em;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
  }
}

// Dismissable alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable {
 padding-right: (@alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}


.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;
  color: @text-color;
  .box-shadow( 0 10px 20px -5px darken(fade(@border, 65%), 10%) );
  
  hr {
    border-top-color: @border;
  }
  .alert-link {
    color: inherit;
    background: linear-gradient( to top, transparent 2px, @text-color 3px, transparent 3px );
    text-shadow: -1px 2px 0 @background, 1px 2px 0 @background, -1px 0 0 @background, 1px 0 0 @background;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
.alert-success {
  .alert-variant(@alert-success-bg; spin(@alert-success-border, 10%); @alert-success-text);
}
.alert-info {
  .alert-variant(@alert-info-bg; spin(@alert-info-border, -20%); @alert-info-text);
}
.alert-warning {
  .alert-variant(@alert-warning-bg; spin(@alert-warning-border, -5%); @alert-warning-text);
}
.alert-danger {
  .alert-variant(@alert-danger-bg; spin(@alert-danger-border, -20%); @alert-danger-text);
}
