// Buttons

.coloring-button(@color, @color2) {
  background-color: @color2;
  #gradient.vertical(@color, @color2);
  border-color: darken(@color, 20%);
  color: contrast(@color2, #000, #fff, 60%);
  .box-shadow( inset 0 -2px darken(@color2, 10%) );
  
  &:hover, &:focus {
    color: contrast(@color2, #000, #fff, 60%);
    background-color: @color2;
    #gradient.vertical(@color, @color2);
    border-color: darken(@color, 20%);
    .box-shadow(inset 0 -2px 0 darken(@color2, 20%));
    outline: none;
    
  }
  .open &,
  &:active, &.active {
    background-color: @color2;
    background-image: none;   
    outline: none;
    border-color: darken(@color, 20%);
    .box-shadow(inset 0 2px darken(@color2, 10%));
    color: contrast(@color2, #000, #fff, 60%);
  }
}




.btn {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 12px;
  padding: 10px 20px;
  border-color: @gray-dark;
  color: @gray-dark;
  box-shadow: inset 0 -2px @gray-dark;
  border-radius: @border-radius-base;
  background-color: rgba(0,0,0,0);
  letter-spacing: 0;
  
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  
  &.btn-lg {
    padding: 13px 16px 15px 16px;
    font-size: 20px;
    font-weight: 400;
    border-radius: @border-radius-large;
  }
  &.btn-sm {
    padding: 6px 12px;
    border-radius: @border-radius-small;
  }
  
  &.btn-xs {
    padding: 1px 10px 3px 10px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .05em;
    border-radius: @border-radius-xsmall;
  }
  
  &.btn-default {
    .coloring-button( #fff, #fff );
  }
  
  &,
  &.btn-primary {
    .coloring-button( lighten(spin(@brand-primary, -10%), 5%), @brand-primary );
  }
  
  &.btn-success {
    .coloring-button( lighten(spin(@brand-success, -10%), 5%), @brand-success );
  }
  
  &.btn-info {
    .coloring-button( lighten(spin(@brand-info, 10%), 5%), @brand-info );
  }
  
  &.btn-warning {
    .coloring-button( lighten(spin(@brand-warning, 10%), 5%), @brand-warning );
  }
  
  &.btn-danger {
    .coloring-button( saturate(lighten(spin(@brand-danger, 20%), 10%), 10%), @brand-danger );
  }
  
  .caret {
    margin: 0 5px; 
  }
  
}

