
.dropdown-menu {
  background-color: hsl(0,0%,99%);
  border-width: 0;
  border-bottom: 1px solid @brand-primary; 
  border-radius: 0;
  overflow: hidden;
  max-height: 0;
  
  
  .box-shadow( 0 20px 20px -10px hsla(0, 0%, 0%, 0.25) );
  
  > li > a  {
    padding: 10px 15px; 
  }
  
  > li > a:hover, 
  > li > a:focus {
    color: rgb(255,255,255);
    background-color: @brand-primary;
  }
}


.open>.dropdown-menu {
  .animation(dropdown-menu 2.5s ease-in normal both);
  display: block;
}

@-webkit-keyframes dropdown-menu {
  0%   { max-height: 0; }
  100% { max-height: 10000px; }
}
@keyframes dropdown-menu {
  0%   { max-height: 0; }
  100% { max-height: 10000px;  }
}

