
.form-control {
  background-color: transparent;
  padding: 10px 12px;
  height: auto;
  line-height: 20px;
  .box-shadow( inset 0 0 0 2px fadeout(@brand-primary, 100%) );
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  -webkit-appearance: none;
  border-radius: @border-radius-base;
  border-color: fade(@gray, 50%);
  
  color: inherit;
  
  &:focus {
    outline: none;
    border-color: @brand-primary;
     .box-shadow( inset 0 0 0 2px lighten(@brand-primary, 20%) );
  }
}

.form-group label {
  font-weight: 400;
  font-size: 12px;
}

.radio, .checkbox {
  label {
    text-transform: none; 
    font-size: inherit;
    letter-spacing: inherit;
  }
}


// flex input groups 
.input-group {
  display: flex; 
  .input-group-addon {
    width: auto; 
  }
  
  .input-group-btn {
    width: auto;
    flex: 0 1 auto; 
    display: flex;
    
    .btn+.dropdown-toggle {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .form-control {
    width: auto;
    display: block;
    flex: 1 1 50px;
  }
}
.input-group-btn>.btn+.btn {
}




.input-group-addon {
  background-color: transparent;
  border-color: fade(@gray, 50%);
  color: @gray;
  padding: 12px 16px 10px;
  
  .radio, .checkbox {
    margin: 0; 
  }
}

.input-group .btn {
}


.input-group-sm>.form-control,
.input-group-lg>.form-control {
}



.form-inline .form-control {

}

.navbar-form .form-control {

}


.has-success .form-control {
  border-color: fade( @brand-success, 90% );
  .box-shadow( inset 0 0 0 2px fadeout(@brand-success, 100%) );
  
  &:focus {
    border-color: @brand-success;
    .box-shadow( inset 0 0 0 2px lighten(@brand-success, 20%) );
  }
}


.has-warning .form-control {
  
  border-color: fade( @brand-warning, 90% );
  .box-shadow( inset 0 0 0 2px fadeout(@brand-warning, 100%) );
  
  &:focus {
    border-color: @brand-warning;
    .box-shadow( inset 0 0 0 2px lighten(@brand-warning, 20%) );
  }
}
.has-error .form-control {
  
  .box-shadow( inset 0 0 0 2px fadeout(@brand-danger, 100%) );
  
    &:focus {
    border-color: @brand-danger;
    .box-shadow( inset 0 0 0 2px lighten(@brand-danger, 20%) );
  }
}



.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
  background-color: hsla(0,0%,0%,0.01);
}

.form-control:-webkit-autofill, input:-webkit-autofill {
  background-color: @brand-warning; 
}

.radio label, .checkbox label {
  padding-left: 0; 
}

.icheckbox {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: @border-radius-base;
  border: 1px solid fade(@gray, 50%);
  position: relative;
  transition: all .15s ease;
  
  &.hover {
    border-color: @brand-primary;
  }
  
  &.checked {
    background-color: @brand-primary;
    border-color: darken(@brand-primary, 10%);
    .box-shadow( inset 0 1px 0 darken( @brand-primary, 10% ) );
  }
  &.checked:before {
    content: "\e013";
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Glyphicons Halflings';
    color: contrast(@brand-primary, #000, #fff, 60%);
    line-height: 30px;
    text-align: center;
  }

  .input-group-addon & {
    width: 18px;
    height: 18px;
    
    &.checked:before {
      line-height: 16px;
      font-size: 10px;
    }
  }
  
}
.iradio {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid fade(@gray, 50%);
  transition: all .15s ease;
  
  &.hover {
    border-color: @brand-primary;
  }
  
  &.checked {
    background-color: @brand-primary;
    border-color: darken(@brand-primary, 10%);
    .box-shadow( inset 0 1px 0 darken( @brand-primary, 10% ) );
  }
  &.checked:before {
    content: "\e014";
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Glyphicons Halflings';
    color: contrast(@brand-primary, #000, #fff, 60%);
    line-height: 30px;
    text-align: center;
  }
  
  .input-group-addon & {
    width: 18px;
    height: 18px;
    
    &.checked:before {
      line-height: 16px;
      font-size: 10px;
    }
  }
}


.help-block {
  font-size: 12px; 
}




