
@hi-icon-stroke-width:      .1em;
@hi-icon-stroke-color:      inherit; 



.x-large { font-size: 40px; }
.large { font-size: 30px; }
.default { font-size: 20px; }
.small { font-size: 15px; }
.x-small { font-size: 10px; }


.hi-plus,
.hi-add,
.hi-minus,
.hi-remove,
.hi-menu,
.hi-check,
.hi-close {
  padding-right: 1.5em;
  position: relative;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline;
  font-size: 15px;
  
  &:before {
    content: ' ';
    width: 0em;
    height: 0em;
    position: absolute;
    left: 0em;
    bottom: 0em;
    border-color: @hi-icon-stroke-color;
    border-style: solid;
    border-width: 0;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  &:after {
    content: ' ';
    width: 0em;
    height: 0em;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: @hi-icon-stroke-color;
    border-style: solid;
    border-width: 0;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
}



.hi-plus:before,
.hi-add:before {
  width: .5em;
  height: .5em;
  left: .5em;
  bottom: .5em;
  border-left-width: @hi-icon-stroke-width;
  border-bottom-width: @hi-icon-stroke-width;
}

.hi-plus:after,
.hi-add:after {
  width: .5em;
  height: .5em;
  bottom: 0;
  left: 0;
  border-right-width: @hi-icon-stroke-width;
  border-top-width: @hi-icon-stroke-width;
}


.hi-minus:before,
.hi-remove:before {
  width: 1em;
  height: .5em;
  left: 0;
  bottom: .5em;
  border-bottom-width: @hi-icon-stroke-width;
}




.hi-menu:before {
  width: 1em;
  height: .1em;
  left: 0;
  top: .2em;
  border-bottom-width: @hi-icon-stroke-width;
  border-top-width: @hi-icon-stroke-width;
}

.hi-menu:after {
  width: 1em;
  height: .1em;
  left: 0;
  top: .6em;
  border-bottom-width: @hi-icon-stroke-width;
  border-top-width: @hi-icon-stroke-width;
}



.hi-check:before {
  border-bottom-width: @hi-icon-stroke-width;
  border-left-width: @hi-icon-stroke-width;
  width: .75em;
  height: .5em;  
  left: 0em;
  bottom: .5em;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}



.hi-close:before {
  border-bottom-width: @hi-icon-stroke-width;
  border-left-width: @hi-icon-stroke-width;
  width: 0em;
  height: 1em;
  left: .5em;
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.hi-close:after {
  border-right-width: @hi-icon-stroke-width;
  border-top-width: @hi-icon-stroke-width;  
  width: 1em;
  height: 0;
  bottom: .5em;
  left: 0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}








