/*
.label {
  font-weight: inherit; 
}

.label-default {
  background-color: hsl(0, 100%, 100%);
  box-shadow: inset 0 0 0 1px hsl(0, 0%, 60%);
  color: hsl(0, 0%, 27%);
}
*/




//== Labels
//
//##

//** Default label background color
@label-default-bg:            @gray;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            @brand-success;
//** Info label background color
@label-info-bg:               @brand-info;
//** Warning label background color
@label-warning-bg:            @brand-warning;
//** Danger label background color
@label-danger-bg:             @brand-danger;

//** Default label text color
@label-color:                 #fff;
//** Default text color of a linked label
@label-link-hover-color:      #fff;




//
// Labels
// --------------------------------------------------

.label {
  font-weight: inherit;
  color: @label-color;
  border-radius: 50px;
  padding: 0.3em 1em .4em;

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      color: @label-link-hover-color;
    }
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  background-color: transparent;
  .box-shadow( inset 0 0 0 1px @label-default-bg );
  color: @label-default-bg;
}

.label-primary {
  .label-variant(@label-primary-bg);
}

.label-success {
  .label-variant(@label-success-bg);
}

.label-info {
  .label-variant(@label-info-bg);
}

.label-warning {
  .label-variant(@label-warning-bg);
}

.label-danger {
  .label-variant(@label-danger-bg);
}
