

#gradient {
  .horizontal-pad(@start-color: #00b3ee; @mid-color: #7a43b6; @color-stop: 50%; @end-color: #c3325f) {
    background-image: -webkit-linear-gradient(left, @start-color @color-stop, @mid-color @color-stop, @end-color);
    background-image: linear-gradient(to right, @start-color @color-stop, @mid-color @color-stop, @end-color);
    background-repeat: no-repeat;
  }
}

.scale(@ratio; @ratio-y...) {
  -webkit-transform: scale(@ratio, @ratio-y);
     -moz-transform: scale(@ratio, @ratio-y);
      -ms-transform: scale(@ratio, @ratio-y); // IE9 only
          transform: scale(@ratio, @ratio-y);
}

.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
          transition: @transition;
}

.text-render() {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1; 
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}
