

.modal-content {
  border-radius: 0;
  border-width: 0px;
  border-bottom: 1px solid @gray-light;
  
  .box-shadow( 0 20px 40px -20px hsla(0, 0%, 0%, 0.5) );
  background-color: hsl(0,0%,99%);
}

.modal-header {
  padding: 15px 20px;
  border-bottom-width: 0;
}

.modal-footer {
  padding: 15px 20px 20px 20px;
  border-width: 0; 
}
