
.navbar {
  border-width: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'kern' 1;
  white-space: nowrap;
}

.navbar-default {
  
  .box-shadow( inset 0 -1px @gray-lighter ); 
  background-color: hsl(0,0%,99%);
 
  .navbar-nav {
    > li.active, > li, li.open {
      > a {
        color: @gray-dark;
        background-color: hsla(0, 0%, 0%, 0);
        -webkit-transition: all .25s ease-out;
        .box-shadow( inset 0 0 @brand-primary );
      }
      > a:hover {
        color: @gray-dark;
        background-color: hsla(0,0%,0%,0);
        .box-shadow( inset 0 -1px @brand-primary );
      }
      > a:focus {
        color: hsl(0,0%,100%);
        background-color: hlsa(0,0%,0%,0);
        .box-shadow( inset 0 -100px @brand-primary );
      }
    }
  
  }
}

.navbar-btn.btn {
  //margin: 4px 5px 0 5px; 
  //padding: 0;
}
.navbar-form {
  //margin: 0; 
  .form-control {
    //padding-top: 15px;
    //padding-bottom: 15px;
    
  }
}
