

//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          19px 20px;
@nav-link-font-size:                        @font-size-base;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;

//== Tabs
@nav-tabs-border-color:                     fade(@gray, 15%);

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @brand-primary;
@nav-tabs-active-link-hover-color:          #fff;
@nav-tabs-active-link-hover-border-color:   #ddd;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-tabs-border-radius:                    0;
@nav-pills-border-radius:                   0;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;





//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  > li {
    > a {
      /*padding: @nav-link-padding;*/
      font-size: @nav-link-font-size;
      color: inherit;
      line-height: @line-height-computed;
      
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: @nav-disabled-link-color;

      &:hover,
      &:focus {
        color: @nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: @nav-link-hover-bg;
      border-color: @link-color;
    }
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 0;
  .box-shadow( inset 0 -1px @nav-tabs-border-color );
  > li {
    float: left;
    border-right: 1px solid @nav-tabs-border-color;
    margin: 0;

    &:last-child {
      border-right: 0; 
    }
    // Actual tabs (as links)
    > a {
      margin-right: 0;
      border-width: 0;
      line-height: @line-height-base;
      .box-shadow( inset 0 0 @nav-tabs-active-link-hover-bg );
      .transition( all .25s ease );

      border-radius: @nav-tabs-border-radius @nav-tabs-border-radius 0 0;
      &:hover {
        border-width: 0;
        color: @brand-primary;
        .box-shadow( inset 0 -1px @nav-tabs-active-link-hover-bg );
        
      }
    }
    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-tabs-active-link-hover-color;
        background-color: transparent;
        box-shadow: inset 0 -100px @nav-tabs-active-link-hover-bg; 
        border-width: 0;
        border-bottom-width: 0;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    .nav-justified();
    .nav-tabs-justified();
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      border-radius: @nav-pills-border-radius;
      .box-shadow( inset 0 0 @nav-tabs-active-link-hover-bg );
      .transition( all .25s ease );
    }
    + li {
      margin-left: 0;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        box-shadow: inset 0 -100px @nav-tabs-active-link-hover-bg;
        background-color: transparent;
        //background-color: @nav-pills-active-link-hover-bg;
      }
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 0;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}

.nav-stacked.nav-pills, 
.nav-stacked.nav-tabs {
  > li.active > a {
    &, &:hover, &:focus {
       box-shadow: inset 3000px 0px @nav-tabs-active-link-hover-bg;
    }
  } 
}




// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------

.nav-justified {
  width: 100%;

  > li {
    float: none;
     > a {
      text-align: center;
      margin-bottom: 0;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }

  @media (min-width: @screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: @nav-tabs-border-radius;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-width: 0px;
  }

  @media (min-width: @screen-sm-min) {
    > li > a {
      border-bottom: 0px;
      border-radius: @nav-tabs-border-radius @nav-tabs-border-radius 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: @nav-tabs-justified-active-link-border-color;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
  .border-top-radius(0);
}


