

.pagination {
  > li {
    &, &.active, &.disabled {
      > a, 
      > span {
        &, &:hover, &:active, &:focus {
          background-color: transparent;
          border-width: 0;
          outline: 0;
          color: @gray-dark; 
        }
      }
    }
  }
}


.pagination > li {
  > a,
  > span {
    .transition(all .25s ease);
    position: relative;
    width: @font-size-base * 3;
    height: @font-size-base * 3;
    line-height: @font-size-base * 3;
    text-align: center;
    padding: 0;
  }
  > a:hover {
    color: transparent;
  }
  > a:active {
    color: transparent;
  }
  > a:focus {
    color: transparent;
  }
  > a:before {
    .transition(all .25s ease);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    .box-shadow( inset 0 0 0 10px @gray-dark );
    .scale(0, 0);
  }
  > a:hover:before {
    .box-shadow( inset 0 0 0 5px @brand-primary );
    .scale(.25, .25);
  }
  > a:active:before {
    .box-shadow( inset 0 0 0 10px @brand-primary );
    .scale(.15, .15);
  }
  > a:focus:before {
    
  }
}

.pagination > li.active {
  > a,
  > span {
    color: @brand-primary;
  }
  > a:hover {
    color: @brand-primary
  }
  > a:active {
    
  }
  > a:focus {
    
  }
  > a:before {
    .box-shadow( inset 0 0 0 1px @brand-primary );
    .scale(1,1);
  }
  > a:hover:before {
    
  }
  > a:active:before {
    
  }
  > a:focus:before {
    
  }
}

.pagination > li.disabled {
  > a,
  > span {
    &, &:hover, &:active {
      color: @gray-light; 
    }
  }
  > a:before {
    .scale(0,0); 
  }
}

.pagination > li:first-child,
.pagination > li:last-child {
  > a,
  > span {
    color: transparent;
    margin-right: 1px;
    margin-left: 1px;
  }
  > a:hover {
    color: transparent;
  }
  > a:active {
    color: transparent;
  }
  > a:after,
  > span:after {
    .transition(all .25s ease);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    -webkit-transform: rotateZ(45deg) scale(.25);
    border: 0 solid @gray-dark;
    border-width: 0 0 4px 4px;
    top: 0;
    right: -2px;
  }
  > a:hover:after {
    border: 0 solid @brand-primary;
    border-width: 0 0 4px 4px;
  }
  > a:active:after {
    -webkit-transform: rotateZ(45deg) scale(.15);
  }
  > a:hover:before {
    .box-shadow( inset 0 0 0 1px @brand-primary );
    .scale(1,1);
  }
  > a:active:before {
    .scale(.75,.75);
  }
  > a:focus:before {
    .scale(0,0); 
  }
}

.pagination > li:last-child {
  > a:after,
  > span:after,
  > a:hover:after {
    border-width: 4px 4px 0 0;
    right: 2px;
  }
  
}


.pagination.pagination-lg > li > a,
.pagination.pagination-lg > li > span {
  width: @font-size-large * 3;
  height: @font-size-large * 3;
  line-height: @font-size-large * 3;
}
.pagination.pagination-lg > li:first-child > a:after,
.pagination.pagination-lg > li:first-child > span:after {
  right: -2px;
}
.pagination.pagination-lg > li:last-child > a:after,
.pagination.pagination-lg > li:last-child > span:after {
  right: 2px;
}

.pagination.pagination-sm > li > a,
.pagination.pagination-sm > li > span {
  width: @font-size-small * 3;
  height: @font-size-small * 3;
  line-height: @font-size-small * 3;
}
.pagination.pagination-sm > li:first-child > a:after,
.pagination.pagination-sm > li:first-child > span:after {
  right: -2px;
}
.pagination.pagination-sm > li:last-child > a:after,
.pagination.pagination-sm > li:last-child > span:after {
  right: 2px;
}













