
.panel {
  border-width: 0;
  border-radius: 0;
  .box-shadow( none );
  .text-render();
  margin: (@line-height-computed / 2) 0 @line-height-computed 0;
  background-color: inherit;
}

.panel-body {
  padding: 0 0 @line-height-computed 0; 
  background-color: inherit;
}

.panel > .panel-heading {
  background-color: transparent; 
  color: inherit;
  font-weight: 400;
}

.panel-heading {
  border-width: 0; 
  border-radius: 0;
  margin: 0;
  font-weight: 600;
  font-size: @font-size-large;
  padding: (@line-height-computed /2) 0 @line-height-computed 0;
}

.panel-title {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  
}
.panel-footer {
  background-color: transparent;
  padding: (@line-height-computed /2) 0 @line-height-computed 0;
  margin-top: (@line-height-computed / 2);
  border-color: @gray-lighter;
  color: inherit;
}


.panel-default {
  border-width: 0;
  > .panel-heading {
    border-top: 1px solid @gray-lighter; 
  }
}

.panel-primary {
  > .panel-heading {
    border-top: 1px solid @brand-primary;
    color: @brand-primary; 
  }
}

.panel-success {
  > .panel-heading {
    border-top: 1px solid @brand-success;
    color: @brand-success; 
  }
}

.panel-info {
  > .panel-heading {
    border-top: 1px solid @brand-info;
    color: @brand-info; 
  }
}

.panel-warning {
  > .panel-heading {
    border-top: 1px solid @brand-warning;
    color: @brand-warning; 
  }
}

.panel-danger {
  > .panel-heading {
    border-top: 1px solid @brand-danger;
    color: @brand-danger; 
  }
}
