
.progress {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border-width: 0;
  border-radius: 10px;
  height: 10px;
}
.progress-bar {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}


.progress-striped .progress-bar {
  background-image: linear-gradient(90deg, rgba(255,255,255, .25) 50%, rgba(0,0,0,0) 50%, hsla(0, 0%, 0%, 0));
  background-size: 10px 10px;
}
