//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            14px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  8px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               fade(@gray, 15%);
//** Background color used for `.table-hover`.
@table-bg-hover:                fade(@brand-primary, 15%);
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color-v:          fade(@gray, 20%);
@table-border-color-h:          fade(@gray, 20%);



// Tables
// -------------------------
.table-row-variant(@state; @background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.@{state},
    > th.@{state},
    &.@{state} > td,
    &.@{state} > th {
      background-color: @background;
      border-left-color: darken(@background, 15%);
    }
  }
}


.table {
  > thead > tr > th {
    color: @gray;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 400;
  }
  > thead, tbody, tfoot { 
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        border: 0;
        border-left: 1px solid @table-border-color-v;
        border-top: 1px solid @table-border-color-h;
      }
      > th:first-child,
      > td:first-child {
       border-left: 0; 
      }
    }
  }
  
  .level-1 > td:first-child {
    #gradient.horizontal-pad( @table-border-color-h, transparent, 8px, transparent ); 
  }
  .level-2 > td:first-child {
    #gradient.horizontal-pad( @table-border-color-h, transparent, 12px, transparent ); 
  }
  .level-1 > td {
    padding-left: @table-cell-padding + 8px;
    padding-right: @table-cell-padding - 8px;
  }
  .level-2 > td {
    padding-left: @table-cell-padding + 12px;
    padding-right: @table-cell-padding - 12px;
  }
}

.table-condensed {
   > thead, tbody, tfoot { 
    > tr {
      > th,
      > td {
         padding: @table-condensed-cell-padding; 
      }
    }
  }
}

.table-striped {  
  > tbody > tr:nth-child(odd) {
      background: none;
    > td,
    > th {
      background: none;
      background-color: @table-bg-accent;
    }
  }
}
.table-bordered {
  border: 1px solid @table-border-color-v; 
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background: none;
    > td,
    > th {
      background-color: @table-bg-hover;
    }
  }
}



// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
.table-row-variant(active; @table-bg-active);
.table-row-variant(success; fade(@brand-success, 15%));
.table-row-variant(info; fade(@brand-info, 15%));
.table-row-variant(warning; fade(@brand-warning, 15%));
.table-row-variant(danger; fade(@brand-danger, 15%));


