



body {
  font-family: Arimo,Open Sans, sans-serif;
}

h1,h2,h3,h4,h5,h6,blockquote {
  .text-render();
}

h1 {
  font-size: 52px;
  font-weight: 200; 
  
  small {
    font-weight: 400;
    font-size: 40%;
  }
}

h2 {
  font-size: 36px;
  font-weight: 200;

  small {
    font-size: 50%; 
  }
}


blockquote,
.blockquote-reverse, 
blockquote.pull-right {
  border-width: 0;
  
  footer,small,.small {
    color: @gray; 
  }
}

h4 small {
  margin-left: .5em; 
}

h5, h6 {
  text-transform: uppercase;
  letter-spacing: .05em;
  
  small {
    font-size: 100%; 
  }
}

h1,h2,h3,h4,h5,h6 {
  small { color: @gray; } 
}

.text-muted   { color: @gray; }
.text-primary { color: @brand-primary; }
.text-success { color: @brand-success; }
.text-info    { color: @brand-info; }
.text-warning { color: @brand-warning; }
.text-danger  { color: @brand-danger; }



