$gray-dark:             hsl( 200, 5%, 25% );
$gray:                  hsl( 200, 15%, 70% );
$gray-light:            hsl( 200, 10%, 75% );
$gray-lighter:          hsl( 200, 10%, 92% );

$brand-primary:         hsl( 223, 34%, 50% );
$brand-success:         hsl( 70, 40%, 44% );
$brand-info:            hsl( 286, 20%, 40% );
$brand-warning:         hsl( 40, 67%, 54% );
$brand-danger:          hsl( 346, 43%, 48% );

$project-color:         hsl( 70, 40%, 44% );
$user-color:            hsl( 286, 20%, 40% );
$company-color:         hsl( 223, 34%, 50% );


// Widths 
$navbar-width-mini:     10%;
$sidebar-width-mini:    200px;
$content-width-mini:    90%;
