.icon-item {
  list-style: none;
  margin:  0;
  padding: 0;
  color: inherit;
  text-decoration: inherit;
  display: table;
  -moz-box-sizing:      border-box; /*Firefox 1-3*/
  -webkit-box-sizing:   border-box; /* Safari */
  box-sizing:           border-box;
  
  .ico {
    display: table-cell;
    vertical-align: middle;
  }
  .img {
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
  }
  span {
    display: table-cell;
    vertical-align: middle;
  }
}




@mixin set-icon( $w, $h, $font-size, $padding: 0 ) {
  @extend .icon-label;
  & > * {
    &:before,
    & > figure {
      width:     $w;
      height:    $h;
      font-size: $font-size;
    }
  }
}


.ico-label {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  
  & > * {
    display: table-row;
    color: inherit;
    text-decoration: inherit;
    &:before {
      display: table-cell;
    }
    span {
      vertical-align: middle;
      display: table-cell;
    }
  }
}

.thumb {
  & > * {
    figure {
      padding: 0;
      margin:  0;
      display: table-cell;
      width: 1em;
      height: 1em;
      background-size: cover;
      border-radius: 1000px;
    }
  }
}

.bg-badge {
  position: absolute; 
  font-size: 12px;
  right: 5%;
  top: 0;
  font-style: normal;
  padding: 4px;
  border-radius: 500px;
  box-shadow: 0 0 0 1px rgba(255,255,255,1);
  height: 1em;
  min-width: 1em;
  line-height: 1em;
  text-align: center;
}


.avatar {
  border-radius: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid $gray;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  img {
    display: block; 
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  &.company {
    border: 1px solid $company-color;
    background-color: $company-color; 
    background-image: url(../img/avatar-company.png);
  }
  
  &.project {
    border: 1px solid $project-color;
    background-color: $project-color; 
    background-image: url(../img/avatar-project.png);
  }
  
  &.profile, &.user {
    border: 1px solid $user-color;
    background-color: $user-color; 
    background-image: url(../img/avatar-user.png);
  }
}







