@font-face {
  font-family: 'bg';
  src: url("../fonts/bg.eot?s5c5v1");
  src: url("../fonts/bg.eot?#iefixs5c5v1") format("embedded-opentype"), url("../fonts/bg.woff?s5c5v1") format("woff"), url("../fonts/bg.ttf?s5c5v1") format("truetype"), url("../fonts/bg.svg?s5c5v1#bg") format("svg");
  font-weight: normal;
  font-style: normal; 
}

[class^="big-"], [class*=" big-"] {
  font-family: 'bg';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.big-billingrad:before {
	content: "\e60e";
}
.big-calendar:before {
	content: "\e60c";
}
.big-piechart:before {
	content: "\e60b";
}
.big-sms:before {
	content: "\e60d";
}
.big-company:before {
	content: "\e60a";
}
.big-wallet:before {
	content: "\e609";
}
.big-user:before {
	content: "\e608";
}
.big-stat:before {
	content: "\e607";
}
.big-search:before {
	content: "\e606";
}
.big-options:before {
	content: "\e605";
}
.big-menu:before {
	content: "\e604";
}
.big-folder:before {
	content: "\e603";
}
.big-project:before {
	content: "\e602";
}
.big-briefcase:before {
	content: "\e601";
}
.big-help:before {
	content: "\e600";
}

@font-face {
  font-family: 'bgmini';
  src: url("../fonts/bgmini.eot?j0p9xz");
  src: url("../fonts/bgmini.eot?#iefixj0p9xz") format("embedded-opentype"), url("../fonts/bgmini.woff?j0p9xz") format("woff"), url("../fonts/bgmini.ttf?j0p9xz") format("truetype"), url("../fonts/bgmini.svg?j0p9xz#bgmini") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="mini-"], [class*=" mini-"] {
  font-family: 'bgmini';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
}

.mini-move:before {
  content: "\e610";
}

.mini-target:before {
  content: "\e611";
}

.mini-bullet:before {
  content: "\e60a";
}

.mini-bullet2:before {
  content: "\e60c";
}

.mini-info:before {
  content: "\e60d";
}

.mini-phone:before {
  content: "\e614";
}

.mini-euro:before {
  content: "\65";
}

.mini-pound:before {
  content: "\e60b";
}

.mini-ruble:before {
  content: "\72";
}

.mini-usdollar:before {
  content: "\24";
}

.mini-config:before {
  content: "\e60e";
}

.mini-stat:before {
  content: "\e60f";
}

.mini-minus:before {
  content: "\2d";
}

.mini-plus:before {
  content: "\2b";
}

.mini-close:before {
  content: "\78";
}

.mini-bcard:before {
  content: "\e613";
}

.mini-search:before {
  content: "\3f";
}

.mini-visible:before {
  content: "\e601";
}

.mini-hidden:before {
  content: "\e602";
}

.mini-help:before {
  content: "\e603";
}

.mini-folder:before {
  content: "\e604";
}

.mini-folder-p:before {
  content: "\e605";
}

.mini-folder-c:before {
  content: "\e607";
}

.mini-edit:before {
  content: "\e606";
}

.mini-company:before {
  content: "\e608";
}

.mini-banknote:before {
  content: "\e609";
}

.mini-datetime:before {
  content: "\e600";
}


