.view-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -ms-Flexbox;
	display: -webkit-flex;
	display: flex;
  
	-ms-box-orient: horizontal;
  flex-direction: column;
  flex-wrap: nowrap;
}





.bg-container > nav {
  background-color: $nav-background-color;
  color: #fff;
  
  * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
  z-index: 1001;
}
.bg-container > aside {
  background-color: $aside-background-color;
  color: $aside-text-color;
  border-right: $aside-border;
  position: absolute;
  width: 100%;
  height: 85%;
  top: 15%;
  -webkit-transform: translateY(-1000px);
  -webkit-transition: all .25s ease-out;
  z-index: 1000;
  
  & > .bg-aside {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  } 
}

.bg-container > article {
  top: 15%;
  width: 100%;
  height: 100% - 15%;
  position: relative;
  & > .bg-content {
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    
  } 
}

.open-aside {
  position: absolute;
  left: -10000px;
}
.open-aside:checked + aside {
  -webkit-transform: translateY(0);
}




@media screen and (min-width: 590px) {
  .bg-container {
    flex-direction: row;
  }
  .bg-container > nav {
    width: $navbar-width-mini;
    height: 100%;
  }
  
  .bg-container > aside {
    width: $sidebar-width;
    height: 100%;
    min-width: $sidebar-width;
    top: 0;
    -webkit-transform: translateY(0px) translateX(-1000px);
  }
  
  .open-aside:checked + aside {
    -webkit-transform: translateY(0px) translateX($navbar-width-mini);
  }
  
  .bg-container > article {
    width: 100%;
    height: 100%;
    left: $navbar-width-mini;
    top: 0;
    
    
  }
}

@media screen and (min-width: 801px) {
  
  .bg-container {
    flex-direction: row;
  }
  
  .bg-container > .open-aside,
  .open-aside-label {
      display: none;
  }
  
  .bg-container > nav {
    width: $navbar-width;
    min-width: $navbar-width;
    position: relative;
  }
  .open-aside:checked + aside {
    -webkit-transform: translateY(0px) translateX(0px);
  }
  
  .bg-container > aside {
    width: $sidebar-width;
    min-width: $sidebar-width;
    position: relative;
    -webkit-transform: translateY(0) translateX(0);
  }
  .bg-container > article {
    width: 100%;
    top: 0;
    left: 0;
  }
  .bg-container.no-sidebar > article {
    width: 100%;
    
  }
}

@media screen and (min-width: 1040px) {
  .bg-container > nav {
    width: $navbar-large;
    min-width: $navbar-large;
  }
  .bg-container > aside {
    width: $sidebar-large;
    min-width: $sidebar-large;
    position: relative;
    & > .bg-sidebar {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  .bg-container > article {
    width: 100%; 
    position: relative;
    
    .container-fluid {
      //padding-left: 5%;
      //padding-right: 5%;
    }
  }

}





