$nb-icon-sm:       24px;
$nb-icon-lg:       32px;
$nb-icon-xlg:      34px;



.navbar-hover {
  .ico:after,
  .img:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    content: '';
    overflow: hidden;
    box-shadow: 0 0 0 40px hsla(255,100%,100%,0);
    -webkit-transform: scale(0);
    -webkit-transition: all .15s ease-out; 
  }
  &:hover .ico:after,
  &:hover .img:after {
    box-shadow: 0 0 0 1px hsla(220,50%,80%,.5);
    -webkit-transform: scale(1);
  }
}



// for phones
.nav-bar {
  display: block;
  margin:  0;
  padding: 0;
  height:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    position: relative;
    list-style: none;
  }
  
  .icon-item {
    margin: 0 5px;
    position: relative;
    
    .ico {
      font-size: $nb-icon-sm;
    }
    .img {
      width:  $nb-icon-sm;
      height: $nb-icon-sm;
    }
    .ico, .img {
      border-radius: 50px;
      padding: 4px;  
      position: relative;
    }
    
    @extend .navbar-hover;
    
    span {
      display: none; 
    }
  }
  .bg-badge {
    padding: 3px; 
    font-size: 10px;
    background-color: $nav-background-color;
    right: -2px;
    top: -2px;
  }
}

.open-aside-label {
  cursor: pointer; 
  position: absolute;
  left: 2%;
  top: 20%;
  font-size: $nb-icon-sm;
  
  .icon-item {
    display: inline-block;  
  }
}

.open-help-label {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 15%;
  
  .icon-item {
    position: relative;
    display: inline-block;
    
    .ico {
      font-size: $nb-icon-sm;
    }
    .ico {
      border-radius: 50px;
      padding: 4px;  
      position: relative;
    }
  
    @extend .navbar-hover;
    
    span {
      display: none; 
    }
  }

}


// for portrait orientation
@media screen and (min-height: 480px) {
  .nav-logo {
    background-image: url( ../img/mobile_logo@2.png );
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 30%;
    margin-top: 2.5%;
  }
  
  .open-aside-label {
    left:   3%;
    top:    10%;
  }
  .open-help-label {
    right:  3%;
    top:    6%;
  }
  .nav-bar {
    height: 60%; 
    
    li {
      margin: 0 2px; 
    }
    
    .bg-badge {
      padding: 3px; 
      font-size: 10px;
      right: -5px;
      top: 0;
    }
  }
}


// for tablets

@media screen and (min-width: 590px) {
  .nav-logo {
     background-image: url( ../img/logo-min@2.png );
     background-repeat: no-repeat;
     background-position: center;
     background-size: 48px;
     margin-top: 0;
     width: auto;
     height: 90px;
     margin-top: 30px;
  }
  .no-sidebar .nav-logo {
    margin-top: 0; 
  }
  
  .open-aside-label {
    left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
  }
  
  .open-help-label {
    bottom: 10px;
    top: auto;
    text-align: center;
    width: 100%;
    right: auto;
    text-align: center;

    .icon-item {
      display: table;
      .ico {
        font-size: $nb-icon-lg; 
        
      }
    }
  }
  
  .nav-bar {
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    
    .icon-item {
      margin: 5px 0;
      .ico {
        font-size: $nb-icon-lg; 
      }
      .img {
        width:  $nb-icon-lg; 
        height: $nb-icon-lg;
      }
    }
  }
  
}


@media screen and (min-width: 801px) {
  .nav-logo {
    margin: 0; 
  }
}

@media screen and (min-width: 1040px) {
  .nav-logo {
    background-image: url( ../img/logo@2.png );
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 140px;
    margin-top: 0;
    width: auto;
    height: 90px;
    margin-top: 0px;
  }
  
  .nav-bar {
    align-items: flex-start;
    li {
      width: 100%; 
    }
    
    .icon-item {
      width: 100%;
      padding-left: 10px;
      
      .ico, .img {
         width:     $nb-icon-xlg;
         height:    $nb-icon-xlg;
         font-size: $nb-icon-xlg;
         padding: 10px;
      }
      span {
        display: table-cell;
        padding-left: 10px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
        line-height: $nb-icon-lg;
        padding-left: 10px;
      }
    }
    
    .bg-badge {
      right: 5%;
      top: 0;
      background: none;
    }
  }
  
  .open-help-label {
    width: 100%;
    padding-left: 20px;
    bottom: 20px;
    i {
      width: auto; 
    }
    span {
      width: 100%;
      text-align: left;
      display: table-cell;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      margin-left: 10px;
      line-height: $nb-icon-lg;
      padding-left: 20px;
    }
  }
}
