

.search-control {
  
}

.bg-aside {
  position: relative;
}
.bg-aside .media {
  padding: 20px; 
}
.bg-aside a {
  color: inherit;
  text-decoration: inherit;
}
.bg-aside .media-body {
  margin-top: 10px; 
}


