<div class="row">
	<div class="col-sm-6">
		<h3>Аватарка <small>Загрузите фото</small></h3>
		<p><small>Аватарка будет хорошего качества если закаченное изображение размером не менее 500x500 пикселей</small></p>

	</div>
	
	<div class="col-sm-6">
		<label for="loadImg" class="js-img-prop">
			<figure class="avatar big b-round b-round_220 b-round-form" style="background-image: url(http://lorempixel.com/600/600)"></figure>
		</label>

		<span class="btn-load">
			<input id="loadImg" type="file" class="btn-load__file">
			<input type="button" value="Загрузить" class="btn btn-default btn-xs">
		</span>
	</div>
</div>