<h3>Обо мне <small>Общая информация</small></h3>

<div class="form-horizontal" role="form">
  <div class="form-group bordered">
    <label for="inputNickname" class="col-sm-4 control-label">Название компании</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputNickname" ng-model="companies[0].title">
    </div>
  </div>
  <div class="form-group bordered">
    <label for="inputLName" class="col-sm-4 control-label">Короткое название</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputLName" ng-model="companies[0].short">
    </div>
  </div>
</div>