
<div class="media">
  <div class="pull-left"><img class="media-object" src="{{src}}" style="max-width: 70px; max-height: 70px;" width="70" height="70" alt=""></div>
  <ng-transclude></ng-transclude>
</div>
